<h2><%=_("Security")%></h2>

<% form_tag '/security/update' do %>
<span>

  <label>
    <%= check_box_tag "firewall_after_startup", "true", @firewall_after_startup,
                                          :disabled => !@write_permission.nil?%>
    <span><%=_("Enable Firewall Automatic Starting")%></span>
  </label>

  <label>
    <%= check_box_tag "firewall", "true", @firewall,
                                         :disabled => !@write_permission.nil? %>
    <span><%=_("Firewall enabled")%></span>
  </label>

 <label>
    <%= check_box_tag "ssh", "true", @ssh, :disabled => !@write_permission.nil? %>
    <span><%=_("SSH login enabled")%></span>
  </label>

  <span>
    <hbox>
      <%= submit_tag _("Save"), :onclick=>"Element.show('progress')",
                      :disabled=>!@write_permission.nil?, :class => 'button' -%>
      <a href="/" class="button"><%=_("Back")%></a>
    </hbox>
  </span>
</span>
<% end %>

