<div class="status_patches">
  <% unless patch %>
    <div class="status-icon warning"></div>
    <%= _("Error occur during loading patch information.") %>

  <% else %>
    <% link_to "patch_updates" do %>
      <% if patch[:security]+patch[:important] > 0 %>
        <div class="status-icon error"></div>
      <% elsif patch[:optional] > 0%>
        <div class="status-icon warning"></div>
      <% else %>
        <div class="status-icon ok"></div>
      <% end %>


      <% any_update = false %>
      <% if patch[:security] > 0 %>
        <span><%= _("Security Updates: #{patch[:security]} ") %></span>
        <% any_update = true %>
      <% end %>
      <% if patch[:important] > 0 %>
        <span><%= _("Important Updates: #{patch[:important]} ") %></span>
        <% any_update = true %>
      <% end %>
      <% if patch[:optional] > 0 %>
        <span><%= _("Optional Updates: #{patch[:optional]} ") %></span>
        <% any_update = true %>
      <% end %>
      <% unless any_update %>
        <span><%= _("Your system is up to date.") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
