<div class="status_patches">
  <% unless patch %>
    <img src="/images/button_warning.png" alt="warning icon" />
    <%= _("Error occur during loading patch information.") %>
  <% else %>
    <% link_to "patch_updates" do %>
      <% if patch[:security]+patch[:important] > 0 %>
        <img src="/images/button_critical.png" alt="System need update"/>
        <div class="status-icon error"></div>
      <% elsif patch[:optional] %>
        <img src="/images/button_warning.png" alt="System contains any update" />
        <div class="status-icon warning"></div>
      <% else %>
        <img src="/images/button_ok.png" alt="No updates available"/>
        <div class="status-icon ok"></div>
      <% end %>


      <% any_update = false %>
      <% if patch[:security] > 0 %>
        <%= _("Security Updates: #{patch[:security]} ") %>
        <% any_update = true %>
      <% end %>
      <% if patch[:important] > 0 %>
        <%= _("Important Updates: #{patch[:important]} ") %>
        <% any_update = true %>
      <% end %>
      <% if patch[:optional] > 0 %>
        <%= _("Optional Updates: #{patch[:optional]} ") %>
        <% any_update = true %>
      <% end %>
      <% unless any_update %>
        <%= _("Your system is up to date.") %>
      <% end %>
    <% end %>
  <% end %>
</div>
