<%= report_error(error, _("A problem occured when loading patch information.")) if error %>

<div class="status_patches">
  <% translations = {
    'refresh-cache' => _("Refreshing package cache"),
    'setup' => _("Starting package manager"),
    'running' => _("Waiting for the package manager lock"),
    'query' => _("Evaluating available patches"),
    'finished' => _("Finished reading patches")
  }
  -%>

  <div style="float: left;">
  <%= image_tag("/images/working.gif", :height=>"32", :width=>"32", :border=>"0") %>
  </div>

  <div style="float: left; padding-left: 1em; padding-top:10px">
    <%= translations[status[:status]] || _("Evaluating available patches") -%>
  </div>

  <%= progress_bar(status[:progress]) -%>

  <!-- refresh the status again after 5 seconds -->
  <% javascript_tag do -%>
    setTimeout(function() {
      <%= remote_function(:update => "status_patches",
	:url => { :controller => :patch_updates, :action => :show_summary, :background => true }) %>
    }, 5000);
  <% end -%>
</div>
