<%= report_error(error, _("A problem occured when loading patch information.")) if error %>

<div class="status_patches">
  <% unless patch %>
    <% if status %>
      <% status_trans = {'refresh-cache' => _("Refreshing package cache") } %>
      <% status_str = status_trans[status[:status]] || _("Evaluating available patches")%>
      <%= image_tag("/images/working.gif", :height=>"32", :width=>"32", :border=>"0") %>
      <%= _("%s: %s%%") % [status_str, status[:progress]] %>

      <% javascript_tag do -%>
	setTimeout(function() {
      <%= remote_function(:update => "status_patches",
	:url => { :controller => :patch_updates, :action => :show_summary }) %>
	}, 5000);
      <% end -%>

    <% else %>
      <div class="status-icon warning"></div>
      <%= _("No information about patches available") %>
    <% end %>
  <% else %>
    <% label = [] %>
    <% link_to "patch_updates" do %>
      <% if patch[:security]+patch[:important] > 0 %>
        <div class="status-icon error"></div>
      <% elsif patch[:optional] > 0%>
        <div class="status-icon warning"></div>
      <% else %>
        <div class="status-icon ok"></div>
      <% end %>

      <% if patch[:security] > 0 %>
        <% label << _("Security Updates: %d") % patch[:security]%>
      <% end %>
      <% if patch[:important] > 0 %>
	<% label << _("Important Updates: %d") % patch[:important] %>
      <% end %>
      <% if patch[:optional] > 0 %>
	<% label << _("Optional Updates: %d") % patch[:optional] %>
      <% end %>
      <% if label.empty? %>
	<% label << _("Your system is up to date.") %>
      <% end %>
      <span><%= label.join(", ") %></span>
    <% end %>
    <% if patch[:security] > 0 or patch[:important] > 0 or patch[:optional] > 0%>
      <%= button_to_remote "Update All", :update =>"status_patches", :url => { :controller => :patch_updates, :action => :start_install_all}, :confirm => _("Updating all. Are you sure?") %>
    <% end %>

  <% end %>
</div>
