<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>
  <style>
    .eula-text-area {
      width: 45em;
      height: 30em;
      background-color: white;
      overflow: auto;
      border: 2px inset #CCC;
      font-size: 1.1em;
      white-space: pre;
      font-family: courier, serif;
    } 
  </style>
<% end %>
<div class='plugin-icon'><img src='/icons/yast-product-registration.png' alt="eula module"/>
<%=_("Licence Agreement")-%> - <%= @eula.name -%>
</div>

<div class="plugin-content grid_12" id="eula">
<% form_for(:eula, 
            :url => { :action => :update, :id => @eula_id }, 
            :html=> { :method => :put} 
           ) do |f|  -%>
<fieldset class="wrapper with-background">
  <%= _("Available translations:") -%>
  <%= f.select :text_lang, 
               @eula.available_langs.map {|lang| [language_name(lang),lang]}, 
               :onchange => "location.href='" + (url_for :controller => "eulas", :id => @eula_id, :action => :show) + "?eula_lang=' + value"
      %>
  <div class="eula-text-area"><%= @eula.text %></div>
  <% if @eula.only_show %>
  <%=  f.hidden_field :accepted, :true %>
  <% else %>
       <div>
  <%=  f.radio_button :accepted, :true, :checked => @eula.accepted, :readonly => @eula.accepted %>
  <%=  _("Yes, I agree to the license agreement.") %>
       </div>
       <div>
  <%=  f.radio_button :accepted, :false, :checked => (! @eula.accepted), :readonly => @eula.accepted %>
  <%=  _("No, I do not agree.") %>
       </div>
  <% end -%>
  <% unless @eula.text_lang == 'en' then %>
  <%= f.hidden_field :text_lang %>
  <% end %>
</fieldset>
<fieldset id="" class="">
  <%= form_next_button %>
  <%= if @first_eula
        @first_basesystem_step ? "" : (form_str_spacer + form_back_button )
      else
        form_str_spacer + (link_to _("Back"), :action => :show, :id => @prev_id)
      end %>
</fieldset>
<% end -%>
</div>
