<div class='plugin-icon'><img src='/icons/yast-product-registration.png' alt="eula module"/>
<%=_("Licence Agreement")-%> - <%= @eula.name -%>
</div>

<div class="plugin-content grid_12" id="eula">
<fieldset id="" class="">
<% form_tag :method => :post, :controller => :eulas, :action => :update, :id => @eula_id, :class => 'container' do  -%>
  <%= _("Available translations:") -%>
  <%= select_tag "text_lang",
                 options_for_select(@eula.available_langs, :selected => @eula.text_lang),
                 :onchange => "location.href='" + (url_for :controller => "eulas", :id => @eula_id, :action => :show) + "?eula_lang=' + value"
      %>

  <br/>
  <textarea cols="95" rows="30" readonly>
  <%= @eula.text -%>
  </textarea>
  <br/>
  <% if @eula.only_show then -%>
    <input type="hidden" name="accepted" value="true"/>
  <% else -%>
    <input type="radio" name="accepted" value="true" 
      <%= @eula.accepted ? 'checked="checked"' : "" %>
      <%= @eula.accepted ? 'readonly="readonly"' : "" %>
      />
    <%= _("Yes, I agree to the license agreement.") %>
    <br/>
    <input type="radio" name="accepted" value="false" 
      <%= @eula.accepted ? "" : 'checked="checked"' %>
      <%= @eula.accepted ? 'readonly="readonly"' : '' %>
      />
    <%= _("No, I do not agree.") %>
    <br/>
  <% end -%>
  <% unless @eula.text_lang == 'en' then %>
    <input type="hidden" name="eula_lang" value="<%= @eula.text_lang %>"/>
  <% end %>
</fieldset>
<fieldset id="" class="">
  <%= if @first_eula
        @first_basesystem_step ? "" : (form_back_button + form_str_spacer)
      else
        (link_to _("Back"), :action => :show, :id => @prev_id) + form_str_spacer
      end %>
  <%= form_next_button %>
</fieldset>
<% end -%>
</div>
