<div class='plugin-icon'><img src='/icons/yast-product-registration.png' alt="eula module"/>
<%=_("Licence Agreement")-%> - <%= @eula.name -%>
</div>

<div class="plugin-content grid_12" id="eula">
<% form_for(:eula, 
            :url => { :action => :update, :id => @eula_id }, 
            :html=> { :method => :put} 
           ) do |f|  -%>
<fieldset class="wrapper with-background">
  <%= _("Available translations:") -%>
  <%= f.select :text_lang, 
               @eula.available_langs.map {|lang| [language_name(lang),lang]}, 
               :onchange => "location.href='" + (url_for :controller => "eulas", :id => @eula_id, :action => :show) + "?eula_lang=' + value"
      %>
  <%= f.text_area :text, :cols => 95, :rows => 30, :readonly => true %>
  <% if @eula.only_show %>
  <%=  f.hidden_field :accepted, :true %>
  <% else %>
       <div>
  <%=  f.radio_button :accepted, :true, :checked => @eula.accepted, :readonly => @eula.accepted %>
  <%=  _("Yes, I agree to the license agreement.") %>
       </div>
       <div>
  <%=  f.radio_button :accepted, :false, :checked => (! @eula.accepted), :readonly => @eula.accepted %>
  <%=  _("No, I do not agree.") %>
       </div>
  <% end -%>
  <% unless @eula.text_lang == 'en' then %>
  <%= f.hidden_field :text_lang %>
  <% end %>
</fieldset>
<fieldset id="" class="">
  <%= if @first_eula
        @first_basesystem_step ? "" : (form_back_button + form_str_spacer)
      else
        (link_to _("Back"), :action => :show, :id => @prev_id) + form_str_spacer
      end %>
  <%= form_next_button %>
</fieldset>
<% end -%>
</div>
