<% content_for :head do %>
<%= javascript_include_tag :defaults %>
<% end %>

<% if @permissions and @repos %>

  <div class='plugin-icon'><img src='/icons/yast-online_update.png'/><%=_("Software Repositories") %></div>
  <div class='plugin-content grid_12'>
  <div class="loading"></div>
  <% disabled = !@permissions[:write] %>
  <% if @repos.empty? %>
    <h3><%=_("No software repository configured.") %></h3>
  <% else %>
    <h3><%=_("Configured software repositories") %></h3>
      <table cellpadding="3px">
	<tr>
	  <th>Priority</th>
	  <th>Enabled</th>
	  <th>Name</th>
	  <th>URL</th>
	</tr>

      <% # Sort by priority then by name -%>
      <% @repos.sort! {|x,y| x.priority == y.priority ? x.name.upcase <=> y.name.upcase : x.priority <=> y.priority} -%>

      <% @repos.each do |r| %>
	<tr>
	  <td align="center"><%= h r.priority -%></td>
	  <td align="center" id="repo_cell_<%= safe_id r.id -%>">
	    <%= render :partial => 'repository_checkbox',
	      :locals => { :id => r.id, :enabled => r.enabled, :disabled => disabled,
	      :error => nil} %>
	  </td>
	  <td><%= link_to (h r.name), :action => 'show', :id => r.id -%></td>
	  <td><%= h r.url -%></td>
	  <% unless disabled -%>
	    <td><%= link_to image_tag('/images/delete.png', :alt => "delete"),
	      {:action => 'delete', :id => r.id},
	      {:confirm => _("Really delete repository '%s'?") % h(r.id), :method => :delete} %>
	    </td>
	  <% end -%>
	</tr>
      <% end  %>
      </table>
  <% end %>

  <fieldset>
  <%= form_back_button %>

  <% if !disabled %>
    <%= form_str_spacer %>
    <%= link_to   (_("Add") + " " + _("a new repository") ), 
                  {:action => 'add'}, 
                  :class=>"button", 
                  :onclick=>"$('#progress').show()" 
                  %>
  <% end %>
  </fieldset>
  </div>

<% end %>

