<% content_for :head do %>
  <%= javascript_include_tag :defaults %>

  <style type="text/css">
    label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
  </style>

<script type="text/javascript">
    // define custom validation function for SMTP server validation
    jQuery.validator.addMethod("smtp_server", function(value, element) {
      return this.optional(element)
        // FQDN: http://regexlib.com/REDetails.aspx?regexp_id=391
        || /^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$/.test(value)
        // IPv4: http://regexlib.com/REDetails.aspx?regexp_id=32
        || /^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$/.test(value)
        // IPv6: http://regexlib.com/REDetails.aspx?regexp_id=906 + allow lowercase hexa letters (a-f)
        || /^(^(([0-9A-Fa-f]{1,4}(((:[0-9A-Fa-f]{1,4}){5}::[0-9A-Fa-f]{1,4})|((:[0-9A-Fa-f]{1,4}){4}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,1})|((:[0-9A-Fa-f]{1,4}){3}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,2})|((:[0-9A-Fa-f]{1,4}){2}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,3})|(:[0-9A-Fa-f]{1,4}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,4})|(::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,5})|(:[0-9A-Fa-f]{1,4}){7}))$|^(::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,6})$)|^::$)|^((([0-9A-Fa-f]{1,4}(((:[0-9A-Fa-f]{1,4}){3}::([0-9A-Fa-f]{1,4}){1})|((:[0-9A-Fa-f]{1,4}){2}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,1})|((:[0-9A-Fa-f]{1,4}){1}::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,2})|(::[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,3})|((:[0-9A-Fa-f]{1,4}){0,5})))|([:]{2}[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){0,4})):|::)((25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{0,2})\.){3}(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{0,2})$$/.test(value);

    }, "<%= _("Enter a valid domain name or an IP address.") -%>");

    $(document).ready(function() {
      $("#mailForm").validate()

      // make the error message translatable - override the default messsage
      $.extend($.validator.messages, {
	equalTo: "<%= _("The passwords do not match.") -%>",
	email:	 "<%= _("Enter a valid e-mail address.") -%>"
      });
    });
</script>

<% end %>

<div class='plugin-icon'><img src='/icons/yast-mail-server.png'/><%=_("Mail Settings")%></div>

<div class='plugin-content grid_12'>

<% disabled = ! @permissions[:write] %>

  <% form_for(:mail, @mail, :url => { :action => "update" }, :html => { :method => :put, :id => "mailForm", :autocomplete => :off, :onsubmit => "if ($('#mailForm').valid()) $('#progress').show()" } ) do |f| %>
  <%= f.error_messages %>
    <fieldset class="grid_12">
      <p>
        <label for="<%= :smtp_server %>"><%=_("Outgoing mail server")%></label>
        <%=f.text_field :smtp_server, :disabled => disabled, :class => "smtp_server" %></p>
      <p>
        <label><%=_("Use secure connection (TLS)")%></label>
        <%= f.select :transport_layer_security, [ [_("Never"), "no" ], [_("If available"), "yes"], [_("Always"), "must"]], :disabled => disabled %></p>
      <p>
        <label><%=_("User name")%></label>
        <%= f.text_field :user, :disabled => disabled %></p>
      <p>
        <label><%=_("Password")%></label>
        <%= f.password_field :password, :disabled => disabled %></p>
      <p>
        <label><%=_("Confirm password")%></label>
        <%= f.password_field :confirm_password, :disabled => disabled, :equalTo => "#mail_password" %>
      </p>
      <p>
        <label><%=_("Send test mail to")%></label>
        <%= f.text_field :test_mail_address, :disabled => disabled, :class => "email" %>
      </p>
    </fieldset> 
    <p>
    <%= form_send_buttons :disabled => disabled %>
    </p>
  <% end %>
</div>

