  <% javascript_tag do %>
	  function hide_descrs() {
		  $("#descriptions > p").hide();
  	}
    function show_desc(id) {
      hide_descrs();
      $("#"+id+"-description").show();
    }
    function grant_perm(id) {
      $("#"+id+"-g").css("display","list-item");
      $("#"+id+"-a").css("display","none");
			renew_hidden();
    }
    function revoke_perm(id){
      $("#"+id+"-a").css("display","list-item");
      $("#"+id+"-g").css("display","none");
			renew_hidden();
		}

		function renew_hidden(){
			var new_val = [];
			$.each($("#granted_perm li:not(:hidden)"),function(i,val){
				var len = val.id.length;
				new_val.push (val.id.substring(0,len-2))});
			$("#assigned_perms")[0].value = new_val.join(',');
    }
  <% end %>
<div style="display:block;float:left;width:33%;">
  <h3> <%= _("Permissions granted by role") %> </h3>
  <ul id="granted_perm">
	<% perm_id = permissions.sort{|x,y| x.pretty_id <=> y.pretty_id}
		 perm_id.each do |p|
     trp = p.id.tr(".","_")%>
	  <li id="<%=trp%>-g" style="display:<%= role.permissions.include?(p.id) ? "default" : "none" %>;"
        onMouseOver="show_desc('<%= p.pretty_id.tr('.','_') %>');">
      <a href="#" onclick="revoke_perm('<%=trp%>');"><%= p.pretty_id %></a>
    </li>
	<% end %>
  </ul>
</div>
<div style="display:block;float:left;width:33%;">
  <h3> <%= _("Available permissions") %> </h3>
  <ul id="available_perms">
	<% perm_id.each do |p| 
     trp = p.id.tr(".","_")%>
	  <li id="<%=trp%>-a" style="display:<%= role.permissions.include?(p.id) ? "none" : "default" %>;"
        onMouseOver="show_desc('<%= p.pretty_id.tr('.','_') %>');">
      <a href="#" onclick="grant_perm('<%=trp%>');"><%= p.pretty_id %></a>
    </li>
	<% end %>
  </ul>
</div>
<div id="descriptions" style="display:block;float:left;width:33%;">
  <h3> <%= _("Description of permissions") %> </h3>
	<% permissions.each do |p| %>
		<p id="<%= "#{p.pretty_id.tr(".","_")}-description"%>"> <%= p.try(:description)||"" %></p>
	<% end %>
</div>
  <% javascript_tag do %>
      hide_descrs();
  <% end %>
<% form_tag :action => "update", :id => params[:id] do %>
	<%= hidden_field_tag "assigned_perms", role.permissions.join(",") %>
	<%= submit_tag _("Save permissions") %>
<% end %>
