<!--
# Copyright (c) 2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>

  <%= javascript_include_tag "validation.js" %>
  <script type="text/javascript">
  
    $(document).ready(function() {

      $("#activedirectoryForm").validate();
      // make the error message translatable - override the default messsage
      $.extend($.validator.messages, {
	    required: "<%= _("This field is required.") -%>",
      });
    });
    $(document).ready(function() {

      if ($("#activedirectory_enabled:checked").length == 0) {
        $("#activedirectory_domain").attr("disabled","disabled");
      };

      $("#activedirectory_enabled").click(function () {
	if ($("#activedirectory_enabled:checked").length == 0) {
	    $("#activedirectory_domain").attr("disabled","disabled");
	}
	else {
	    $("#activedirectory_domain", "#activedirectoryForm").removeAttr("disabled");
	}
      });

    });
  </script>

<% end %>

<% disabled = !@permissions[:write] %>

<div class='plugin-icon'><img src='../icons/yast-samba-client.png'/> <%= _("Active Directory") %></div>
<div class='plugin-content'>

<%= render :partial => 'shared/missing_write_permissions' if disabled %>

    <% form_for(:activedirectory, @activedirectory, :url => { :action => 'update' },
      :html => { :method => :put, :id => 'activedirectoryForm', :onsubmit => "if ($('#activedirectoryForm').valid()) $('#progress').show() && disable_forms ()", :autocomplete => :off }
    ) do |f| %>

	<fieldset>
	    <p>
	      <%= check_box 'activedirectory', :enabled, {:disabled => disabled, :checked => @activedirectory.enabled}, true,false -%>
	      <%= _("Enable Authentication of AD users") %>
	    </p>
            <p>
              <%= label_tag :activedirectory_domain, _("Active Directory Domain") %>
              <%= text_field :activedirectory, :domain, :disabled => disabled, :class => 'required'  %>
            </p>
	</fieldset>
	<% if @activedirectory.respond_to? :administrator %>
	<fieldset>
            <p>
              <%= label_tag :activedirectory_administrator, _("Adminstrator User Name") %>
              <%= text_field :activedirectory, :administrator, :disabled => disabled, :class => 'required'  %>
            </p>
            <p>
              <%= label_tag :activedirectory_password, _("Password") %>
              <%= password_field :activedirectory, :password, :disabled => disabled, :class => 'required'  %>
            </p>
            <p>
              <%= label_tag :activedirectory_machine, _("Machine Account") %>
              <%= text_field :activedirectory, :machine, :disabled => disabled  %>
            </p>
	</fieldset>
	<% end %>
	<div class="nav-buttons">
	    <%= form_send_buttons :disabled => disabled, :onclick=>"Element.show('progress')"%>
	</div>
    <% end %>

  </div>
