<% content_for :head do %>

<%= javascript_include_tag "jquery.quicksearch.js"-%>

 <style>
    .pad1_2em {
	padding: 1em 2em;
    }
    tr {
	border: solid 1px #ddd;
    }
    label, .qs_input {
	width: auto !important;
    }
 </style>

 <% javascript_tag do %>
 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

 $(document).ready(function(){

  $('input#groups_search').quicksearch('div.list-fieldset', {
          selector: 'span.quicksearch_content',
          delay: 100
  });

      $(".accordion").accordion({
         autoHeight : false,
         navigation : true,
         collapsible: true,
         header     : 'div.list-fieldset div.list-fieldset-header'
      });

      $(".accordion").accordion('activate', false);


});//document.ready

function disable(which){
 if (which.childNodes.length == 2 && which.childNodes[0].firstChild.alt == "delete"){
  which.onclick="";
  which.removeChild(which.childNodes[1]);
  which.removeChild(which.childNodes[0]);
  which.appendChild( document.createTextNode("<%= _("Processing ...") %>") );
 }
}
<% end %>

<% end %>
<div class='plugin-icon'><img src='/icons/yast-groups.png'/><%=_("Groups")%></div>
<div class="plugin-content grid_12">

<form action="#" id="quicksearch" class="pad1_2em">
  <label><%= _("Filter:") %></label>
  <input type="text" id="groups_search"></input>
</form>

<div class='pad1_2em'>
   <% if @permissions[:groupadd] %>
     <%= link_to _("Add New Group"), :action => :new -%>
   <% end %>
 <div id="groups" class="accordion">

  <% for group in @groups %>
   <div class="list-fieldset">
    <div class="list-fieldset-header">
     <span class="quicksearch_content">
       <%= h group.cn || "-none-" %>
     </span>
    </div>
    <div class='group-content' style="display:none">

<% form_for group, :url => { :action => @adding ? "create" : "update"}, :html => { :id => "groupForm", :autocomplete => :off}  do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :old_cn %>
  <fieldset>
    <p>
      <label><%=_("Group Name")%></label>
      <%= f.text_field :cn, :disabled => false %>
    </p>
    <p>
      <label><%=_("Group ID")%></label>
      <%= f.text_field :gid, :disabled => false %>
    </p>
     <p>
      <label><%=_("Group Type")%></label>
      <%= f.text_field :group_type, :disabled => true %>
      <%= f.hidden_field :group_type %>
    </p>
    <p>
      <label><%=_("Default members")%></label>
      <%= f.text_field :default_members_string, :disabled => true %>
    </p>
    <p>
      <label><%=_("Members")%></label>
      <%= f.text_field :members_string, :disabled => false, :onkeyup => "members_validation();" %>
    </p>
    <p><label id="users-error" class="error"></label><p>
  </fieldset>
<% end %>

     <% if @permissions[:groupdelete] %>
      <div onclick="disable(this);"><%= html_delete_link(group.cn, :destroy, _("Are you sure to delete group '%s'?") % group.cn ) %></div>
     <% end %>
    </div>
   </div>
  <% end %>

 </div>
</div>

<fieldset>
  <%= form_back_button -%>
</fieldset>
<%= link_to "Manage Users", "controller" => "users" %>
</div>
</div>

