<div class='plugin-icon'><img src='/icons/yast-groups.png'/><%=_("Groups")%></div>
<div class="plugin-content grid_12">

<div>
   <% if @permissions[:groupadd] %>
     <%= link_to _("Add New Group"), :action => :new -%>
   <% end %>
<table cellpadding="3px" width="50%"  style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% for group in @groups %>
  <tr>
    <td><%= link_to ( h group.cn || "-none-" ), {:action => :edit, :id => group.cn} -%></td>
    <% if @permissions[:groupdelete] %>
    <td class="icon"><%= html_delete_link(group.cn, :destroy, _("Are you sure to delete group '%s'?") % group.cn ) %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<fieldset>
  <%= form_back_button -%>
</fieldset>
</div>
</div>

