<!--
# Copyright (c) 2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>

  <%= javascript_include_tag "validation.js" %>
  <script type="text/javascript">
  
    $(document).ready(function() {
      validateDomainNameWithPortNumber("server");

      $("#ldapForm").validate();
      // make the error message translatable - override the default messsage
      $.extend($.validator.messages, {
	    required: "<%= _("This field is required.") -%>",
	    server: "<%= _("Enter a valid domain name or an IP address.")  -%>" 
      });
    });

    $(document).ready(function() {
      if ($("#ldap_server", "#ldapForm").val() == "") {
        $("#fetch_dn").attr("disabled","disabled");
      };
      $("#ldap_server").keyup(function () {
	if ($("#ldap_server", "#ldapForm").val() == "") $("#fetch_dn").attr("disabled","disabled");
	else $("#fetch_dn", "#ldapForm").removeAttr("disabled");
      }); 

      if ($("#ldap_enabled:checked").length == 0) {
        $("#ldap_server").attr("disabled","disabled");
        $("#ldap_base_dn").attr("disabled","disabled");
        $("#ldap_tls").attr("disabled","disabled");
        $("#fetch_dn").attr("disabled","disabled");
      };

      $("#ldap_enabled").click(function () {
	if ($("#ldap_enabled:checked").length == 0) {
	    $("#ldap_server").attr("disabled","disabled");
	    $("#ldap_base_dn").attr("disabled","disabled");
	    $("#ldap_tls").attr("disabled","disabled");
	    $("#fetch_dn").attr("disabled","disabled");
	}
	else {
	    $("#ldap_server", "#ldapForm").removeAttr("disabled");
	    $("#ldap_base_dn", "#ldapForm").removeAttr("disabled");
	    $("#ldap_tls", "#ldapForm").removeAttr("disabled");
	    $("#fetch_dn", "#ldapForm").removeAttr("disabled");
	}
      });

    });
   
  </script>

<% end %>

<% disabled = !@permissions[:write] %>

<div class='plugin-icon'><img src='../icons/yast-ldap.png'/> <%= _("LDAP client") %></div>
<div class='plugin-content'>

<%= render :partial => 'shared/missing_write_permissions' if disabled %>

    <% form_for(:ldap, @ldap, :url => { :action => 'update' },
      :html => { :method => :put, :id => 'ldapForm', :onsubmit => "if ($('#ldapForm').valid()) $('#progress').show() && disable_forms ()" }
    ) do |f| %>

	<fieldset>
	    <p>
	      <%= check_box 'ldap', :enabled, {:disabled => disabled, :checked => @ldap.enabled}, true,false -%>
	      <%= _("Enable LDAP Authentication") %>
	    </p>
            <p>
              <%= label_tag :ldap_server, _("LDAP Server Address") %>
              <%= text_field :ldap, :server, :disabled => disabled, :class => "server required" %>
            </p>
            <p>
              <%= label_tag :ldap_base_dn, _("Base DN") %>
              <%= text_field :ldap, :base_dn, :disabled => disabled, :class => "required" %>
	      <%=
		link_to_remote _("Fetch DN"),
		    :url	=> {
			:controller	=> :ldap,
			:action		=> :fetch_dn
		    },
		    :loading	=> "$('#ldap_base_dn').attr('disabled', 'disabled'); $('#fetch_progress').show();",
		    :complete	=> "$('#fetch_progress').hide(); $('#ldap_base_dn').removeAttr('disabled')",
		    :with 	=> "'server=' + $('#ldap_server').val()",
		    :html	=> {
			:class		=> "button",
			:id		=> "fetch_dn",
			:disabled	=> disabled
		    }
	      %>
	      <img src="/images/working.gif" class="small-working-icon" id="fetch_progress" style="display: none; margin-bottom: -3pt" alt='working...'/>

            </p>
       	    <p>
	      <%= check_box 'ldap', :tls, {:disabled => disabled, :checked => @ldap.tls}, true,false -%>
	      <%= _("Secure Connection") %>
	    </p>

	</fieldset>
	<div class="nav-buttons">
	    <%= form_send_buttons :disabled => disabled, :onclick=>"Element.show('progress')"%>
	</div>

    <% end %>

  </div>
