<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "digitalspaghetti.password.js" %>
  <%= javascript_include_tag "users_edit.js" %>

  <style type="text/css">
    label.error {
         display: none; color: red; padding-left: 11.5em; padding-bottom: 1.5em; margin-top: -0.5em; text-align: left; vertical-align: top; width: 50%
    }

    .GContainerUser, .GContainerGroups {
        float: left;
        margin: 3px;
        border: #669999 2px solid;
        padding: 5px;
     }
     .GBox {
        border: #000 1px solid;
        cursor: pointer;
	display: block;
	float: left;
        font-family: verdana, tahoma, arial;
        font-size: 10px;
        margin-bottom: 5px;
        padding: 2px;
        width: 94px;
     }
     #ContainerUser .GBox {
        background-color: #eee;
     }
  </style>

 <script language='javascript'>

  $(document).ready(function(){
   $("#tab_login")[0].style.display="block";


   $("#userForm").validate();

   // make the error message translatable - override the default messsage
   $.extend($.validator.messages, {
     equalTo:  "<%= _("The passwords do not match.") -%>",
     required: "<%= _("This field is required.") -%>"
   });



   $("#userForm").validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    }
   });

   $("#user_user_password").pstrength({
     'displayMinChar'        : true,
     'minCharText'      : "<%= _("Password Strength:") %>", 
       'verdicts'                : [
            "<%= _("Weak") %>",
            "<%= _("Normal") %>",
            "<%= _("Medium") %>",
            "<%= _("Strong") %>",
            "<%= _("Very Strong") %>"
          ],
      });

 })
 </script>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      $(".accordion").accordion({
        navigation : true,
        header     : 'fieldset legend'
      });
    });
  <% end %>
<% end %>

<% disabled = ! @permissions[:usermodify] %>
<div class='plugin-icon'><img src='/icons/yast-users.png' alt="users module"/>
  <%=_("Users") + header_spacer + _("Edit user %s") %@user.uid%>
</div>

<div class="plugin-content grid_12">

<%= render :partial => 'shared/missing_write_permissions' if disabled %>

<% form_for(:user, @user, :url => { :action => "update" }, :html => { :method => :put, :id => "userForm", :onsubmit => "$('#progress').show()", :autocomplete => :off } ) do |f| %>
  <%= f.error_messages %>
      <%= render :partial => 'user_form',
      :locals => { :f => f, :disabled => disabled } %>

      <fieldset>
        <%= form_cancel_button :action => :index%>
        <%= form_str_spacer %>
        <%= form_next_button :disabled => disabled, :onclick=>"return edit_user_validation();" %>
      </fieldset>
<% end %>
      <div><input type="hidden" id="all_grps_string" value="<%= @all_grps_string %>" /></div>
</div>
