<h1><%=_("Export SSH-Key")%></h1>
<% form_for(:user, @user, :url => { :action => "sshexport" }, :html => { :method => :post }) do |f| %>
  <%= f.error_messages %>

  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("User")%></th>
    </tr>
    <tr class="bg">
        <td class="first"><strong><%=_("Login Name")%></strong></td>
        <td class="last"><%= f.text_field :uid, :disabled => false %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Home Directory")%></strong></td>
	<td class="last"><%=h @user.homeDirectory %></td>
    </tr>
    <tr>
	<td class="first"><strong><%=_("SHH Key")%></strong></td>
	<td class="last"><%= f.text_field :sshkey, :disabled=>!@permissions[:usermodify] %></td>
    </tr>
    </table>
    <p><%= f.submit _("Export SSH-Key"), :commit=>"Export SSH-Key", :onclick=>"Element.show('progress')", :disabled=>!@permissions[:usermodify] %><%= link_to _('Back'), users_path, :onclick=>"Element.show('progress')", :class => "button" %></p>
  </div>
<% end %>
