<div class='plugin-icon'><img src='/icons/yast-users.png'/><%=_("Local User")%></div>
<div class="plugin-content grid_12">

 <script language='javascript'>
 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

 function clear_filter(){
  $('#FilterTextBox').val("");
  $(".row").show();
 }

 $(document).ready(function(){
  $("#FilterTextBox").keyup(function(){
   var s = $(this).val();
   $(".row").hide();
   $(".row:has(span:Contains('"+s+"'))").show();
  });//key up.

 $('.row').mouseenter(function() {
  $(this).find(".del_user").show();
 }).mouseleave(function() {
  $(this).find(".del_user").hide();
 });

 // default state
 $('.del_user').hide();
});//document.ready
</script>

<p>
 <label>Filter</label>
 <input id="FilterTextBox" name="FilterTextBox" size="30" value="" type="text">
 <IMG src="/images/close.png" onclick='clear_filter();'>
</p>

<ul class="filterable">
  <% for user in @users %>
  <li class="row">
   <%= link_to "<span class='login'><b>" + user.uid + "</b></span> <span class='fullname'>" + user.cn + "</span>", {:action => :edit, :id => user.id}, :onclick=>"$('#progress').show()" %>
    <% if @permissions[:userdelete] %>
    <span class="del_user"><%= html_delete_link(user.uid, :destroy) %></span>
    <% end %>
  </li>
  <% end %>
</ul>

<% if @permissions[:useradd] %>
<div class="select">
  <%= link_to _("<strong>[New User]</strong>"), {:action => :new}, :onclick=>"$('#progress').show()" -%><p/>
</div>
<% end %>

<a href="/" class="button"><%=_("Back")%></a>

</div>

