<h1><%=_("Local User")%></h1>

<table class="list">
  <tr>
    <th class="first" width=150><%=_("Login")%></th>
    <th><%=_("Full Name")%></th>
    <th width=8%><%=  _("Edit") %></th>
    <% if @permissions[:userdelete] %>
    <th class="last" width=8%><%= label_delete %></th>
    <% end %>
  </tr>
  <% for user in @users %>
  <tr>
    <td><strong><%=h user.uid %></strong></td>
    <td><%=h user.cn %></td>
    <td><%= link_to image_tag("/images/edit-icon.gif", :alt => :edit), {:action => :edit, :id => user.id}, :onclick=>"Element.show('progress')" %></td>
    <% if @permissions[:userdelete] %>
    <td class="last"><%= html_delete_link(user.uid) %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% if @permissions[:useradd] %>
<div class="select">
  <%= link_to _("<strong>[New User]</strong>"), new_user_path, :onclick=>"Element.show('progress')" -%><p/>
</div>
<% end %>

<a href="/" class="button"><%=_("Back")%></a>
