<h1><%=_("Local User")%></h1>

<table class="list">
  <tr>
    <th class="first" width=150><%=_("Login")%></th>
    <th width=8%><%= label_edit %></th>
    <% if @permissions[:delete] %>
    <th width=8%><%=_("SSH-Key")%></th>
    <th class="last" width=8%><%= label_delete %></th>
    <% else %>
    <th class="last" width=8%><%=_("SSH-Key")%></th>
    <% end %>
  </tr>
  <% for user in @users %>
  <tr>
    <td><strong><%=h user.login_name %></strong></td>
    <td><%= html_edit_link(user.id) %></td>
    <td><%= link_to image_tag("/images/key_add.png", :alt =>  "key"), exportssh_user_path(:id=>user.id), :onclick=>"Element.show('progress')" %></td>
    <% if @permissions[:delete] %>
    <td class="last"><%= html_delete_link(user.login_name) %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% if @permissions[:write] %>
<div class="select">
  <%= link_to _("<strong>[New User]</strong>"), new_user_path, :onclick=>"Element.show('progress')" -%><p/>
</div>
<% end %>
