<% content_for :head do %>

<%= javascript_include_tag "jquery.quicksearch.js"-%>

 <style>
    .pad1_2em {
	padding: 1em 2em;
    }
    tr {
	border: solid 1px #ddd;
    }
    label, .qs_input {
	width: auto !important;
    }
 </style>

 <% javascript_tag do %>
 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

 $(document).ready(function(){


  $('input#users_search').quicksearch('table tbody tr', {
    stripeRows: ['odd', 'even'],
    delay: 100
  });

});//document.ready

function disable(which){
 if (which.childNodes.length == 2 && which.childNodes[0].firstChild.alt == "delete"){
  which.onclick="";
  which.removeChild(which.childNodes[1]);
  which.removeChild(which.childNodes[0]);
  which.appendChild( document.createTextNode("<%= _("Processing ...") %>") );
 }
}
<% end %>

<% end %>
<div class='plugin-icon'><img src='/icons/yast-users.png'/><%=_("Users")%></div>
<div class="plugin-content grid_12">

<form action="#" id="quicksearch" class="pad1_2em">
  <label><%= _("Filter:") %></label>
  <input type="text" id="users_search"></input>
</form>

<div class='pad1_2em'>
<%= link_to _("Add New User"), :action => :new, :onclick=>"$('#progress').show()" -%>
<table cellpadding="3px" width="50%"  style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Login</th>
      <th>Real Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% for user in @users %>
  <tr class= <%= cycle('odd', 'even') -%> >
    <td align=center id="login"><%= h user.uid  -%></td>
    <td align=center width="65%" id="fullname"><%= link_to ( h user.cn || "-none-" ), {:action => :edit, :id => user.id}, :onclick=>"$('#progress').show()" -%></td>
    <% if @permissions[:userdelete] %>
    <td class="icon" width="10%"><div onclick="disable(this);"><%= html_delete_link(user.uid, :destroy, _("Are you sure to delete user '%s'?") % user.id + "\n" + _("Home directory will be deleted as well.") ) %></div></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<fieldset>
  <%= form_back_button -%>
  <% if @permissions[:useradd] %>
  <% end %>
</fieldset>
<%= link_to "Manage Groups", "controller" => "groups" %>
</div>
</div>

