<%= javascript_include_tag "jquery.quicksearch.js"-%>

<div class='plugin-icon'><img src='/icons/yast-users.png'/><%=_("Local Users")%></div>
<div class="plugin-content grid_12">
 <style>
    .pad1_2em {
	padding: 1em 2em;
    }
    tr {
	border: solid 1px #ddd;
    }
    label, .qs_input {
	width: auto !important;
    }
 </style>

 <script language='javascript'>
 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

 $(document).ready(function(){

 $('.row').mouseenter(function() {
  $(this).find(".del_user").show();
 }).mouseleave(function() {
  $(this).find(".del_user").hide();
 });

 $('table tbody tr').quicksearch({
        attached: 'div#qs_anchor',
	inputText: 'Type user name or login ...',
	inputClass: 'qs_input',
        loaderText: '',
        labelText: '<%= _("Filter:")%>',
	stripeRowClass: ['odd', 'even'],
        delay: 100
 });

 // default state
 $('.del_user').hide();
});//document.ready

</script>

<div id='qs_anchor' class='pad1_2em'></div>
<div class='pad1_2em'>
<table cellpadding="3px" width="50%"  style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Login</th>
      <th>Real Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% for user in @users %>
  <tr class= <%= cycle('odd', 'even') -%> >
    <td align=center ><%= user.uid  -%></td>
    <td align=center width="65%"><%= link_to ( user.cn || "-none-" ), {:action => :edit, :id => user.id}, :onclick=>"$('#progress').show()" -%></td>
    <% if @permissions[:userdelete] %>
    <td class="icon" width="10%"><%= html_delete_link(user.uid, :destroy) %></td>
    <% end %>
  </td>
  <% end %>
  </tbody>
</table>
</div>

<% if @permissions[:useradd] %>
<div class='pad1_2em'>
  <%= link_to  _("New User..."), {:action => :new }, :class=>'button', :onclick=>"$('#progress').show()" -%>
</p>
<% end %>
</div>
<p>
<%= link_to _("Back"), '/', :class=>"button" -%>
</p>
</div>

