
<div class='plugin-icon'><img src='/icons/yast-users.png'/><%=_("Local Users")%></div>
<div class="plugin-content grid_12">
 <style>
    .pad1_2em {
	padding: 1em 2em;
    }
    tr {
	border: solid 1px #ddd;
   }
 </style>

 <script language='javascript'>
 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

 function clear_filter(){
  $('#FilterTextBox').val("");
  $(".row").show();
 }

 $(document).ready(function(){
  $("#FilterTextBox").keyup(function(){
   var s = $(this).val();
   $(".row").hide();
   $(".row:has(td:Contains('"+s+"'))").show();
  });//key up.

 $('.row').mouseenter(function() {
  $(this).find(".del_user").show();
 }).mouseleave(function() {
  $(this).find(".del_user").hide();
 });

 
 // default state
 $('.del_user').hide();
});//document.ready

</script>

 <label style="width:auto;">Filter:</label>
 <input id="FilterTextBox"  name="FilterTextBox"  value="" type="text">
 <IMG src="/images/actions/clear-location.png" onclick='clear_filter();'>

<div id='test' class='pad1_2em'>
<table cellpadding="3px" width="50%"  style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Login</th>
      <th>Real Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% for user in @users %>
  <tr class= <%= cycle('odd', 'even') -%> >
    <td align=center ><%= user.uid  -%></td>
    <td align=center width="65%"><%= link_to ( user.cn || "-none-" ), {:action => :edit, :id => user.id}, :onclick=>"$('#progress').show()" -%></td>
    <% if @permissions[:userdelete] %>
    <td class="icon" width="10%"><%= html_delete_link(user.uid, :destroy) %></td>
    <% end %>
  </td>
  <% end %>
  </tbody>
</table>
</div>

<% if @permissions[:useradd] %>
<div class='pad1_2em'>
  <%= link_to image_tag('/images/actions/add.png') + _("New User..."), {:action => :new }, :class=>'iconbutton', :onclick=>"$('#progress').show()" -%>
</p>
<% end %>
</div>
<p>
<%= link_to image_tag('/images/actions/back.png') + _("Back"), '/', :class=>"button" -%>
</p>
</div>

