<div class='plugin-icon'><img src='/icons/yast-users.png'/><%=_("Local User")%></div>
<div class="plugin-content grid_12">

<table class="list">
  <tr>
    <th class="first" width=150><%=_("Login")%></th>
    <th><%=_("Full Name")%></th>
    <th width=8%><%=  _("Edit") %></th>
    <% if @permissions[:userdelete] %>
    <th class="last" width=8%><%= label_delete %></th>
    <% end %>
  </tr>
  <% for user in @users %>
  <tr>
    <td><strong><%=h user.uid %></strong></td>
    <td><%=h user.cn %></td>
    <td><%= link_to image_tag("/images/edit-icon.png", :alt => :edit), {:action => :edit, :id => user.id}, :onclick=>"$('#progress').show()" %></td>
    <% if @permissions[:userdelete] %>
    <td class="last"><%= html_delete_link(user.uid, :destroy) %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% if @permissions[:useradd] %>
<div class="select">
  <%= link_to _("<strong>[New User]</strong>"), {:action => :new}, :onclick=>"$('#progress').show()" -%><p/>
</div>
<% end %>

<a href="/" class="button"><%=_("Back")%></a>

</div>

