<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->
<% content_for :head do %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "digitalspaghetti.password.js" %>
<%= javascript_include_tag "users.js" %>
<%= javascript_include_tag "select_dialog.js" %>

<!-- if no groups, disable validation
-->
<% if @permissions[:groupsget] != true %>
<script language="javascript">
function groups_validation(which){ return true; }
function def_group_validation(which){ return true; }
</script>
<% end %>       

  <style type="text/css">
    .GContainerUser, .GContainerGroups {
        float: left;
        margin: 3px;
        border: #669999 2px solid;
        padding: 5px;
     }
     .GContainerUser {
        width: 100px;
     }
     .GContainerGroups {
        width: 400px;
     }
     .GBox {
        border: #000 1px solid;
        cursor: pointer;
	display: block;
	float: left;
        font-family: verdana, tahoma, arial;
        font-size: 10px;
        margin-bottom: 5px;
        padding: 2px;
        width: 94px;
     }
     #ContainerUser .GBox {
        background-color: #eee;
     }
    #password-strength {
	left: 0em;
    }
  </style>

<script language='javascript'>

  function select_groups_dialog() {
    var open_dialog = select_many_dialog({
      kind : 'groups',
      title : '<%= _('Select Groups') %>',
      selected_title : '<%= _('Selected Groups') %>',
      unselected_title : '<%= _('Available Groups') %>',
      tooltip : '<%= _('Click group names to select/unselect groups') %>',
      loadItems : function (dialogId) { 
        return $('#form_ #user_grp_string')[0].value.split(",")
      },
      storeItems : function (dialogId, items) { 
        $('#form_ #user_grp_string')[0].value = items.join(",");
      },
      allItems : function (dialogId) { 
        return $('#all_grps_string')[0].value.split(",") 
      }
    });
    return open_dialog;
  };
  
  function select_default_group_dialog() {
    var open_dialog = select_one_dialog({
      kind : 'group',
      title : '<%= _('Select Default Group') %>',
      tooltip : '<%= _('Click a group name to choose users default group') %>',
      allItems : function (dialogId) {
        return $('#all_grps_string')[0].value.split(",")
      },
      storeItem : function (dialogId, item) {
        $('#form_ #user_groupname')[0].value = item;
      }
    });
    return open_dialog;
  };

  $(document).ready(function(){

    select_groups_open = select_groups_dialog();

    select_default_group_open = select_default_group_dialog();


   $("#form_").validate();

// make the error message translatable - override the default messsage
   $.extend($.validator.messages, {
     equalTo:  "<%= _("The passwords do not match.") -%>",
     required: "<%= _("This field is required.") -%>"
   });

   $("#form_").validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    }
   });

   $("#user_user_password").pstrength({
      'displayMinChar'      : true,
      'minCharText'      : "<%= _("Password Strength:") %>", 
      'verdicts'      : [
            "<%= _("Weak") %>",
            "<%= _("Normal") %>",
            "<%= _("Medium") %>",
            "<%= _("Strong") %>",
            "<%= _("Very Strong") %>"
          ],
      });


 })

    // start password validation workaround only when "Save" button has been pressed
    password_validation_enabled = false;
</script>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      // to switch from tabs to accordion, just uncomment this and comment the lower tabs section
      /*
      $(".fieldset-group").accordion({
        autoHeight : false,
        navigation : true,
        header     : 'fieldset legend',
        animated   : false,
        collapsible: true
      });
      */
      addTabsNavigation(".fieldset-group", "span");
      $(".fieldset-group").tabs();
    });
  <% end %>
<% end %>

<% disabled = ! @permissions[:useradd] %>
<div class='plugin-icon'><img src='/icons/yast-users.png' alt="users module"/>
  <%=_("Users") + header_spacer + _("Add new user")%>
</div>
<div class="plugin-content">
<% form_for :user, :url => { :action => "create"}, :html => { :id => "form_", :autocomplete => :off, :onsubmit => "form_handler('')",}  do |f| %>
  <%= f.error_messages %>

<%= render :partial => "user_edit", :locals =>{ :f => f, :disabled => disabled, :user => @user, :new => true } %>

  <div class="nav-buttons">
    <div id="progress_" style="display: none; margin-bottom: 10px"><img src="/images/working.gif" alt="Working"/><span style="vertical-align: 50%; margin-left: 5px">...Wait...</span></div>
    <%= submit_tag _("Save"), :onclick=>"return user_validation(this,'');" %>
    <%= form_str_spacer %>
    <%= form_cancel_button :action => :index%>
  </div>
<% end %>
            <div><input type="hidden" id="all_grps_string" value="<%= @all_grps_string %>" /></div>
</div>
