<% content_for :head do %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "digitalspaghetti.password.js" %>
<%= javascript_include_tag "users_edit.js" %>

  <style type="text/css">
    label.error {
         display: none; color: red; padding-left: 11.5em; padding-bottom: 1.5em; margin-top: -0.5em; text-align: left; vertical-align: top; width: 50%
    }

    .GContainerUser, .GContainerGroups {
        float: left;
        margin: 3px;
        border: #669999 2px solid;
        padding: 5px;
     }
     .GContainerUser {
        width: 100px;
     }
     .GContainerGroups {
        width: 400px;
     }
     .GBox {
        border: #000 1px solid;
        cursor: pointer;
	display: block;
	float: left;
        font-family: verdana, tahoma, arial;
        font-size: 10px;
        margin-bottom: 5px;
        padding: 2px;
        width: 94px;
     }
     #ContainerUser .GBox {
        background-color: #eee;
     }
  </style>

<script language='javascript'>

  $(document).ready(function(){

   $("#userForm").validate()

   $("#userForm").validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    }
   });

   $("#user_user_password").pstrength({
      'displayMinChar'      : true,
      'minCharText'      : 'Password Strength:', 
      'verdicts'      : [
            "<%= _("Weak") %>",
            "<%= _("Normal") %>",
            "<%= _("Medium") %>",
            "<%= _("Strong") %>",
            "<%= _("Very Strong") %>"
          ],
      });


 })

    // start password validation workaround only when "Save" button has been pressed
    password_validation_enabled = false;
</script>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      $(".accordion").accordion({
        navigation : true,
        header     : 'fieldset legend'
      });
    });
  <% end %>
<% end %>

<div class='plugin-icon'><img src='/icons/yast-users.png' alt="users module"/>
  <%=_("Local Users") + header_spacer + _("Add new user")%>
</div>
<div class="plugin-content grid_12">
<% form_for :user, :url => { :action => "create"}, :html => { :id => "userForm", :autocomplete => :off}  do |f| %>
  <%= f.error_messages %>

  <div class="accordion">
    <fieldset id="tab_login" class="wrapper with-background">
      <legend> Basic User Data</legend>
      <div>
        <p>
          <label><%=_("Full Name")%></label>
          <%= f.text_field :cn %>
        </p>
        <p>
          <label><%=_("Login Name")%></label>
          <%= f.text_field :uid, :class => "required", :onkeyup => "$('#userForm').validate().element('#user_uid');" %>
        </p>
        <p>
          <label><%=_("Password")%></label>
          <%= f.password_field :user_password, :class => "required", :onkeyup => "$('#userForm').validate().element('#user_user_password');"%>
        </p>
        <!-- this is a pre-generated placeholder for the validation message
	     it is here so as not to interfere with passwd strength indicator -->
        <p><label for="user_user_password" generated="true" class="error"></label><p>
        <p>
          <label><%=_("Confirm Password")%></label>
          <%= f.password_field :user_password2, :equalTo => "#user_user_password",:class => "required", :onkeyup => "$('#userForm').validate().element('#user_user_password2');" %>
        </p>
      </div>
    </fieldset>
    <fieldset id="tab_groups" class="wrapper with-background">
      <legend>Group Membership</legend>
      <div>
        <p>
          <label><%=_("Groups")%></label>
          <%= f.text_field :grp_string, :onkeyup => "groups_validation();" %>
          <a href="#" class="button" onclick="open_groups_dialog();return false;">Manage Groups</a>
        </p>
        <p><label id="groups-error" class="error"></label><p>
        <p>
          <label><%=_("Default Group")%></label>
          <%= f.text_field :groupname %>
        </p>

	<%= render :partial => 'groups_dialog' %>

      </div>
    </fieldset>
    <fieldset id="tab_advanced" class="wrapper with-background">
      <legend>Detailed User Data </legend>
      <div>
        <p>
          <label><%=_("UID Number")%></label>
          <%= f.text_field :uid_number, :min => 1000, :class => "number", :onkeyup => "$('#userForm').validate().element('#user_uid_number');"  %>
        </p>
        <p>
          <label><%=_("Home Directory")%></label>
          <%= f.text_field :home_directory %>
        </p>
        <p>
            <%=_("Do not create home directory")%>
            <input type="checkbox" name="nohome" value="true" >
        </p>
        <p>
          <label><%=_("Login Shell")%></label>
          <%= f.text_field :login_shell %>
        </p>
      </div>
    </fieldset>
  </div>
  <fieldset>
    <%= form_back_button :action => :index%>
    <%= form_str_spacer %>
    <%= form_next_button :onclick=>"return new_user_validation();" %>
  </fieldset>
<% end %>
            <div><input type="hidden" id="all_grps_string" value="<%= @groups.all_grps_string %>" /></div>
</div>
