<% content_for :head do %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "digitalspaghetti.password.js" %>
<%= javascript_include_tag "users_edit.js" %>

  <style type="text/css">
    label.error {
         display: none; color: red; padding-left: 11.5em; padding-bottom: 1.5em; margin-top: -0.5em; text-align: left; vertical-align: top; width: 50%
    }

    .GContainerUser, .GContainerGroups {
        float: left;
        margin: 3px;
        border: #669999 2px solid;
        padding: 5px;
     }
     .GContainerUser {
        width: 100px;
     }
     .GContainerGroups {
        width: 400px;
     }
     .GBox {
        border: #000 1px solid;
        cursor: pointer;
	display: block;
	float: left;
        font-family: verdana, tahoma, arial;
        font-size: 10px;
        margin-bottom: 5px;
        padding: 2px;
        width: 94px;
     }
     #ContainerUser .GBox {
        background-color: #eee;
     }
  </style>

<script language='javascript'>

  $(document).ready(function(){

   $("#userForm").validate()

   $("#userForm").validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    }
   });

   $("#user_user_password").pstrength({
      'displayMinChar'      : true,
      'minCharText'      : "<%= _("Password Strength:") %>", 
      'verdicts'      : [
            "<%= _("Weak") %>",
            "<%= _("Normal") %>",
            "<%= _("Medium") %>",
            "<%= _("Strong") %>",
            "<%= _("Very Strong") %>"
          ],
      });


 })

    // start password validation workaround only when "Save" button has been pressed
    password_validation_enabled = false;
</script>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      $(".accordion").accordion({
        navigation : true,
        header     : 'fieldset legend'
      });
    });
  <% end %>
<% end %>

<div class='plugin-icon'><img src='/icons/yast-users.png' alt="users module"/>
  <%=_("Users") + header_spacer + _("Add new user")%>
</div>
<div class="plugin-content grid_12">
<% form_for :user, :url => { :action => "create"}, :html => { :id => "userForm", :autocomplete => :off}  do |f| %>
  <%= f.error_messages %>

      <%= render :partial => 'user_form',
      :locals => { :f => f, :disabled => false } %>

  <fieldset>
    <%= form_back_button :action => :index%>
    <%= form_str_spacer %>
    <%= form_next_button :onclick=>"return new_user_validation();" %>
  </fieldset>
<% end %>
            <div><input type="hidden" id="all_grps_string" value="<%= @all_grps_string %>" /></div>
</div>
