<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->
<% content_for :head do %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "digitalspaghetti.password.js" %>
<%= javascript_include_tag "users.js" %>
<%= javascript_include_tag "select_dialog.js" %>

  <style type="text/css">
    .GContainerUser, .GContainerGroups {
        float: left;
        margin: 3px;
        border: #669999 2px solid;
        padding: 5px;
     }
     .GContainerUser {
        width: 100px;
     }
     .GContainerGroups {
        width: 400px;
     }
     .GBox {
        border: #000 1px solid;
        cursor: pointer;
	display: block;
	float: left;
        font-family: verdana, tahoma, arial;
        font-size: 10px;
        margin-bottom: 5px;
        padding: 2px;
        width: 94px;
     }
     #ContainerUser .GBox {
        background-color: #eee;
     }
    #password-strength {
	left: 0em;
    }
  </style>

<script language='javascript'>

  function select_groups_dialog() {
    var open_dialog = select_many_dialog({
      kind : 'groups',
      title : '<%= _('Select Groups') %>',
      selected_title : '<%= _('Selected Groups') %>',
      unselected_title : '<%= _('Available Groups') %>',
      tooltip : '<%= _('Click group names to select/unselect groups') %>',
      loadItems : function (dialogId) { 
        return $('#userForm #user_grp_string')[0].value.split(",")
      },
      storeItems : function (dialogId, items) { 
        $('#userForm #user_grp_string')[0].value = items.join(",");
      },
      allItems : function (dialogId) { 
        return $('#all_grps_string')[0].value.split(",") 
      }
    });
    return open_dialog;
  };
  
  function select_default_group_dialog() {
    var open_dialog = select_one_dialog({
      kind : 'group',
      title : '<%= _('Select Default Group') %>',
      tooltip : '<%= _('Click a group name to choose users default group') %>',
      allItems : function (dialogId) {
        return $('#all_grps_string')[0].value.split(",")
      },
      storeItem : function (dialogId, item) {
        $('#userForm #user_groupname')[0].value = item;
      }
    });
    return open_dialog;
  };

  $(document).ready(function(){

    select_groups_open = select_groups_dialog();

    select_default_group_open = select_default_group_dialog();


   $("#userForm").validate();

// make the error message translatable - override the default messsage
   $.extend($.validator.messages, {
     equalTo:  "<%= _("The passwords do not match.") -%>",
     required: "<%= _("This field is required.") -%>"
   });

   $("#userForm").validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    }
   });

   $("#user_user_password").pstrength({
      'displayMinChar'      : true,
      'minCharText'      : "<%= _("Password Strength:") %>", 
      'verdicts'      : [
            "<%= _("Weak") %>",
            "<%= _("Normal") %>",
            "<%= _("Medium") %>",
            "<%= _("Strong") %>",
            "<%= _("Very Strong") %>"
          ],
      });


 })

    // start password validation workaround only when "Save" button has been pressed
    password_validation_enabled = false;
</script>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      $(".accordion").accordion({
        autoHeight : false,
        navigation : true,
        header     : 'fieldset legend',
        animated   : false,
        collapsible: true
      });
    });
  <% end %>
<% end %>

<% disabled = ! @permissions[:useradd] %>
<div class='plugin-icon'><img src='/icons/yast-users.png' alt="users module"/>
  <%=_("Users") + header_spacer + _("Add new user")%>
</div>
<div class="plugin-content grid_12">
<% form_for :user, :url => { :action => "create"}, :html => { :id => "userForm", :autocomplete => :off}  do |f| %>
  <%= f.error_messages %>

  <div class="accordion">

    <fieldset id="tab_login" class="wrapper with-background">
      <legend><%= _("Login Settings") %></legend>
	<table>
	<tr><td>
          <div class="label"><%=_("Full Name")%></div>
	</td><td>
          <%= f.text_field :cn , :disabled => disabled, :onblur => "propose_login(this.parentNode.parentNode.parentNode.parentNode.parentNode);" %>
	</td></tr>

	<tr><td>
          <div class="label"><%=_("Login Name")%></div>
	</td><td>
          <%= f.text_field :uid, :disabled => disabled, :onblur => "$('#userForm').validate().element('#user_uid') && propose_home(this.parentNode.parentNode.parentNode.parentNode.parentNode);", :class => "required" %>
          <%= f.text_field :id, :class => "hidden" %>
	</td></tr>

	<tr><td>
          <div class="label"><%=_("Password")%></div>
	</td><td>
          <%= f.password_field :user_password, :onkeyup => "$('#userForm').validate().element('#user_user_password');", :disabled => disabled %>
	</td></tr>

	<tr><td>
          <div class="label"><%=_("Confirm Password")%></div>
	</td><td>
          <%= f.password_field :user_password2, :disabled => disabled, :equalTo => "#user_user_password", :onkeyup => "$('#userForm').validate().element('#user_user_password2');" %>
        <!-- this is a pre-generated placeholder for the validation messages -->
        <div class="label" for="administrator_confirm_password" generated="true" class="error"></div>
	</td></tr>
	</table>
    </fieldset>

    <fieldset id="tab_groups" class="wrapper with-background">
      <legend><%=_("Groups")%></legend>
	<table border=0>
	<tr><td rowspan=2>
            <div class="label"><%=_("Groups")%></div>
	</td><td>
            <%= f.text_field :grp_string, :disabled => disabled, :onkeyup => "groups_validation(this);" %>
	</td><td rowspan=2>
            <a href="#" class="button" onClick="select_groups_open('new');return false;">Manage Groups</a>
	<td></tr>

	<tr><td>
            <label class="label" id="groups-error" class="error"></label>
	<td></tr>

	<tr><td>
            <div class="label"><%=_("Default Group")%></div>
	</td><td>
            <%= f.text_field :groupname, :disabled => disabled %>
	</td><td>
            <a href="#" class="button" onClick="select_default_group_open('new');return false;">Select Default Group</a>
	<td></tr>
	</table>
	 <div id="groups" style="display:none;" title="Groups">
	    <div>
	     <div class="GContainerUser" style="width: 100px;" id="ContainerUser" onclick="moveItem(event,'ContainerGroups');"> </div>
	     <div class="GContainerGroups" style="width: 400px;" id="ContainerGroups" onclick="moveItem(event,'ContainerUser');"> </div>
	    </div>
	 </div>

	 <div id="def_group" style="display:none;" title="Default Group">
	    <div>
	     <div class="GContainerGroups" style="width: 400px;" id="ContainerDefaultGroup" onclick="selectItem(event);"> </div>
	    </div>
	 </div>
    </fieldset>

    <fieldset id="tab_advanced" class="wrapper with-background">
      <legend><%= _("Advanced") %></legend>
	<table>
	<tr><td>
            <div class="label"><%=_("Home Directory")%></div>
	</td><td>
            <%= f.text_field :home_directory, :disabled => disabled %>
	<td></tr>

	<tr><td>
            <div class="label"><%=_("Login Shell")%></div>
	</td><td>
            <%= f.text_field :login_shell, :disabled => disabled %>
	<td></tr>

	<tr><td>
            <div class="label"><%=_("UID Number")%></div>
	</td><td>
            <%= f.text_field :uid_number, :disabled => disabled, :min => 1000, :class => "number", :onkeyup => "$('#userForm').validate().element('#user_uid_number');"  %>
        <div class="label" id="uid-error" class="error"></div>
	<td></tr>
	</table>
    </fieldset>

  </div>
  <fieldset>
    <%= form_next_button :onclick=>"return new_user_validation(this);" %>
    <%= form_str_spacer %>
	 <%= form_cancel_button :action => :index%>    
  </fieldset>
<% end %>
            <div><input type="hidden" id="all_grps_string" value="<%= @all_grps_string %>" /></div>
</div>
