<h1><%=_("New User")%></h1>

<% form_for :user, :url => { :action => "create"}  do |f| %>
  <%= f.error_messages %>

  <div class="table">
    <table class="list">
    <tr>
	<td class="first" width="120"><strong><%=_("Full Name")%></strong></td>
	<td class="last"><%= f.text_field :cn %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Groups")%></strong></td>
	<td class="last"><%= f.text_field :grp_string %></td>
    </tr>
    <tr>
	<td class="first"><strong><%=_("Default Group (GID)")%></strong></td>
	<td class="last"><%= f.text_field :groupname %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Home Directory")%></strong></td>
	<td class="last"><%= f.text_field :home_directory %></td>
    </tr>
    <tr>
	<td class="first"><strong><%=_("do NOT create home directory")%></strong></td>
	<td class="last"><input type="checkbox" name="nohome" value="true" ></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Login Shell")%></strong></td>
	<td class="last"><%= f.text_field :login_shell %></td>
    </tr>
    <tr>
	<td class="first"><strong><%=_("Login Name")%></strong></td>
	<td class="last"><%= f.text_field :uid %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("UID Number")%></strong></td>
	<td class="last"><%= f.text_field :uid_number %></td>
    </tr>
    <tr>
	<td class="first"><strong><%=_("Password")%></strong></td>
	<td class="last"><%= f.password_field :user_password %></td>
    </tr>
    </table>
    <p><%= f.submit _("Create"), :onclick=>".show()" %><%= link_to _('Back'), {:action => :index }, :onclick=>"$('#progress').show()", :class => "button" %></p>
  </div>
<% end %>
