<div class='plugin-icon'><img src='/icons/yast-users.png'/></div>

<h2><%=_("Administrator Settings")%></h2>

<% disabled = ! @permissions[:write] %>

<div class="table">
  <table class="list">
  <% form_for(:administrator, @administrator, :url => { :action => "update" }, :html => { :method => :put } ) do |f| %>
  <%= f.error_messages %>
    <tr class="bg">
	<td class="first"><strong><%=_("Password")%></strong></td>
	<td class="last"><%= f.password_field :password, :disabled => disabled %></td>
	<td><%= f.submit _("Save"), :name => "save_password", :disabled => disabled %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Forward mail to")%></strong></td>
	<td class="last"><%= f.text_field :aliases, :disabled => disabled %></td>
	<td><%= f.submit _("Save"), :name => "save_aliases", :disabled => disabled %></td>
    </tr>
    <tr>
    <td><%= form_send_buttons :onclick=>"Element.show('progress')" %></td>
    </tr>
  <% end %>
  </table>
</div>
