<div class='plugin-icon'><img src='/icons/yast-network.png'/></div>
<div class='plugin-content'>
<h2><%=_("Network Device")%></h2>

<table class="list">
  <tr>
    <th class="first" ><%=_("Login")%></th>
  </tr>
  <% for network in @networks %>
  <tr>
    <td><strong><%=h network.name %></strong></td>
    <td><%= html_edit_link(network.id) %></td>
  </tr>
  <% end %>
</table>


<a href="/" class="button"><%=_("Back")%></a>
</div>

