<%
  write_disabled = ! @permissions[:write]
  static_disabled = write_disabled || @conf_mode != "static"
%>
<% content_for :head do %>
   <%= javascript_include_tag :defaults %>
   <link rel="stylesheet" href="/inc/smoothness/jquery.ui.custom.css" type="text/css" media="screen" title="default" charset="utf-8" />

   <% javascript_tag do -%>
      function disable_static_config(abool) {
          $("#ip")[0].disabled = abool;
          $("#netmask")[0].disabled = abool;
          $("#nameservers")[0].disabled = abool;
          $("#searchdomains")[0].disabled = abool;
          $("#default_route")[0].disabled = abool;
// TODO fix and use this
//          $.each(["#ip", "#netmask",
//                  "#nameservers", "#searchdomains",
//                  "#default_route"], function() {
//              $(this)[0].disabled = abool;
//          });
      }
   <% end -%>
   <% javascript_tag do -%>
      function validIP(ip) {
        valid = ip.match(/^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/);
        return valid;
      }
      function validMask(ip) {
        return validIP(ip); // FIXME
      }
      function validPrefix(ip) {
        return false; //FIXME
      }

      // FIXME returning false does not prevent it from submitting
      function validateNetwork() {
        if ($("#conf_mode")[0].value == "static") {
          say_bad = "<%= _("Invalid IP address format. The correct one is nnn.nnn.nnn.nnn for nnn between 0 and 255.") %>"
          if (! validIP($("#ip")[0].value)) {
            $("#ip").focus();
            alert (say_bad);
            return false;
          }
          netmask = $("#netmask")[0].value;
          if (!validPrefix(netmask) && ! validMask(netmask)) {
            $("#netmask").focus();
            alert (say_bad);
            return false;
          }
          if (! validIP($("#default_route")[0].value)) {
            $("#default_route").focus();
            alert (say_bad);
            return false;
          }
        }
        Element.show('progress');
        return true;
      };
   <% end %>
<% end %>

<div class='plugin-icon'><img src='/icons/yast-network.png'/></div>
<div class='plugin-content'>
<h2><%=_("Network")%></h2>

<% form_tag("/network", :method => "get") do %>
  <!-- (collection, value, text, selected) -->
  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("Interface")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><%= select_tag(:interface,
      options_from_collection_for_select(@ifcs, :id, :id, @iface)) %></td>
	<td class="last"><%= submit_tag("Select") %></td>
    </tr>
    </table>
  </div>
<% end %>

<% form_for(:network, @network, :url => { :action => "update" }, :html => { :method => :put } ) do |n| %>
<%= n.error_messages %>
<!-- ~/svn/web-client/plugins/systemtime/app/views/systemtime/index.rhtml -->

<input type="hidden" id="interface" name="interface" value="<%= @iface %>">

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("IP Address")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Configuration Mode")%></strong></td>
	<td class="last"><%= select_tag(:conf_mode, options_for_select(@conf_modes, @conf_mode), :disabled => write_disabled)%></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("IP Address")%></strong></td>
	<td class="last"><%=text_field_tag :ip, @ip, :disabled => static_disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Prefixlen")%></strong></td>
	<td class="last"><%=text_field_tag :netmask, @netmask, :disabled => static_disabled %></td>
    </tr>
    </table>
  </div>

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("DNS")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Hostname")%></strong></td>
	<td class="last"><%=text_field_tag :name, @name, :disabled => write_disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Domain")%></strong></td>
	<td class="last"><%=text_field_tag :domain, @domain, :disabled => write_disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Name Servers")%></strong></td>
	<td class="last"><%=text_field_tag :nameservers, @nameservers.join(" "), :disabled => static_disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Search Domains")%></strong></td>
	<td class="last"><%=text_field_tag :searchdomains, @searchdomains.join(" "), :disabled => static_disabled %></td>
    </tr>

    </table>
  </div>

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("Routing")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Default Route")%></strong></td>
	<td class="last"><%=text_field_tag :default_route, @default_route, :disabled => static_disabled %></td>
    </tr>
    </table>
  </div>

<%= n.submit _("Update"), :disabled => write_disabled, :onclick => "validateNetwork();" %><a href="/" class="button"><%=_("Back")%></a>
<% end %>
</div>
<% javascript_tag do -%>
   $('#conf_mode').delayedObserver(0.25, function(element, value) {
     disabled = <%= write_disabled %> || value != "static";
     disable_static_config(disabled);
   })
<% end -%>
