<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<%
  write_disabled = ! @permissions[:write]
%>

<% content_for :head do %>
<!--    <%= javascript_include_tag :defaults %> -->
<!-- added to webyast-base-min.js -->
<!-- 	<%= javascript_include_tag "validation.js" %> -->

   <% javascript_tag do -%>
      // Slide and focus the field with error if accordion/tab section  is closed 
      // (prevent the slideDown of opened tab)
      function focus_field(field_id) {
        var fragment_id = $("#"+ field_id).parents('fieldset').attr("id");
        if ($("#"+fragment_id+" legend").attr('aria-expanded') != 'true') {
           $(".fieldset-group.ui-accordion").accordion('activate', "#"+fragment_id+" legend");
        };
        $(".fieldset-group.ui-tabs").tabs('select',"#"+fragment_id);
        $("#"+field_id).focus();
      };
   <% end %>

   <% javascript_tag do -%>
      function hide_static_config() {
	    var input = $(".fieldset-group .static");
	    if ($("#conf_mode").val() != "static") input.attr('disabled', 'disabled');
		else input.removeAttr('disabled');
      }
   <% end -%>

<!-- 	TODO move all stylesheets to public css file -->
	<style type="text/css">
	 /* TODO move to style.css fix for validation */
	 .ui-accordion .ui-accordion-content {padding:1em 0px;}
	 label.error {
		float:none;
		display:inline;
		font-weight:bold;
		color:#990000;
		padding-left:.5em;
		vertical-align:middle;
	 }
	 label.valid { 
		background: url('../images/checked.gif') no-repeat;
		padding:0px 0px 0px 18px;
		vertical-align:middle; 
		margin-left:5px;
	 }
	</style>

	<script type="text/javascript">
		function switchFieldsetGroupTab()
		{
	  		var dnsValid = getElementsByClass("error valid", "dns", "label");
		  	var dnsErrors = getElementsByClass("error", "dns", "label");
      if ($("#conf_mode").val() == "static"){
			  var ipValid = getElementsByClass("error valid", "ip-address", "label");
  			var ipErrors = getElementsByClass("error", "ip-address", "label");

  			if(dnsValid.length != dnsErrors.length && ipValid.length == ipErrors.length) {
	  			focus_field("name");
				  return false;
		  	} else if(ipValid.length != ipErrors.length && dnsValid.length == dnsErrors.length) {
			  	focus_field("ip");
				  return false;
  			} else if(ipValid.length != ipErrors.length && dnsValid.length != dnsErrors.length) {
	  			focus_field("ip");
				  return false;
		  	}
        } else {
           if(dnsValid.length != dnsErrors.length) {
              focus_field("name");
              return false;
           }
        }


      disable_forms();
		 	$('#progress').show();
		  return true;
		}
	</script>

	<script type="text/javascript">
	$(document).ready(function() {
	  validateIPv4("ip");
	  validateSubnetMask("netmask"); //accept prefixlen and common subnet mask format e.g. 255.255.255.0
	  validateDefaultRoute("default_route");
	  validateDomainNameWithAndWithoutTLD("domain");
	  validateIPv4("nameservers");
	  validateDomainNameWithAndWithoutTLD("searchdomains");

		$("#dnsForm").validate({ 
		  onkeyup: function(element) { this.element(element); }, 
		  onblur: true,
		  rules:{
			 ip: {
				ip: true,
				required:true
			 },
			 netmask:{
				netmask: true,
				required:true
			 },
			 default_route: {
				default_route: true,
				required:true
			 },
			 name: { 
				required: true,
			 },
			 domain: {
				domain: true,
				required:true
			 },
			 nameservers: {
				nameservers: true,
				required:true
			 },
			 searchdomains: {
				searchdomains: true,
				required:true
			 }
		  },

		  messages: {
			 ip: {
				required: <%= jss _("This field is required") -%>,
				ip: <%= jss _("Enter a valid IP address") -%>
			 },
			 netmask: {
				required: <%= jss _("This field is required") -%>,
				netmask: <%= jss _("Enter a valid subnet mask or prefix") -%>
			 },
			 default_route: {
				required: <%= jss _("This field is required") -%>,
				default_route:<%= jss _("Enter a valid IP address") -%>
			 },

			 name:{ required: <%= jss _("This field is required") -%> },

			 domain:{
				required: <%= jss _("This field is required") -%>,
				domain: <%= jss _("Enter a valid domain name") -%> 
			 },
			 nameservers: {
				required: <%= jss _("This field is required") -%>,
				nameservers: <%= jss _("Enter a valid IP address") -%>
			 },
			 searchdomains: {
				required: <%= jss _("This field is required")  -%>,
				searchdomains: <%= jss _("Enter a valid domain name") -%> 
			 }
		  },
		  submitHandler: function(form) {
			var message = "<%= _("Please wait") -%>";
			disableFormOnSubmit(message);
                        form.submit();
                  },
		  success: "valid"  
		});
		
		// FIXME: find better solution for starting the validation with document on load
		// TODO: remove commented lines after test (is not needed anymore because of jquery.validate version update)
		//$("#ip").keyup( function() {$("#dnsForm").valid();}); 
		//$("#netmask").keyup( function() {$("#dnsForm").valid();});
		//$("#default_route").keyup( function() {$("#dnsForm").valid();});
		//$("#domain").keyup( function() {$("#dnsForm").valid();});
		//$("#nameservers").keyup( function() {$("#dnsForm").valid();});
		//$("#searchdomains").keyup( function() {$("#dnsForm").valid();});
		hide_static_config();
	 });
	 </script>

   <% javascript_tag do -%>
   //TODO move this validations to separate js library
      function validHostname(hostname){
        //not empty
        if (hostname.match(/^\s*$/))
            return false;
        return true; //FIXME better check
      }

      //RFC 952 [a-zA-Z0-9'-']
      //cann't have any spaces
      //cann't start with a hyphen '-'
      //cann't start with a digit
      //no periodic hyphen '-'
      //must not end with a hyphen '-'

      //vgorobets@suse.de TODO:
      //upgrade to RFC1123

      var valChar = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789";

      function hostValidation(t,v){
          var valhostname = "";
          for (i=0; i < t.value.length; i++) {
          x = t.value.charAt(i);
             if (v.indexOf(x,0) != -1 && t.value !='-' && isNaN(t.value)) {
                if(t.value[t.value.length-1] == t.value[t.value.length-2] && t.value[t.value.length-1] == "-") {
						t.value = t.value.substring(0,t.value.length-1);
                  addWarning("periodic");
                }
                valhostname += x;
              } else {
                addWarning(x); // put warning if character is invalid
              }
          }
          t.value = valhostname;
      }

      function clearWarning(){
			$("#dns").find("label[for='name']").filter('[class=error]').text("");
      }

      function addWarning(message){
         if(message == " ") {
            message += <%= jss _("whitespace - invalid character.") %>
         } else if (isNaN(message) == false) {
            message += <%= jss _(" - can not start with a digit.") %>
         } else if (message == "periodic") { 
            message = <%= jss _("periodic '-' is not allowed.") %>
         } else if (message == "endWithHyphen") { 
				message = <%= jss _("can not end with (-) hyphen.") %>
         } else {
            if(message == '-') {
               message = <%= jss _("can not start with (-) hyphen.") %>
            } else {
               message += <%= jss _(" - is invalid character for hostname.") %>
            }
         }
			
			$("#dns").find("label[for='name']").filter('[class=error valid]').removeClass("valid").addClass("error");
			$("#dns").find("label[for='name']").filter('[class=error]').text(message);
		}

      function endWithHyphen(t) {
         if(t.value[t.value.length-1] == "-") {
            t.value = t.value.substring(0,t.value.length-1);
            focus_field("name");
            addWarning("endWithHyphen");
			}        
      }

      function validDomain(domain){
        //not empty, suse doesn't support it
        if (domain.match(/^\s*$/))
            return false;
        return true; //FIXME better check
      }
    <% end %>
<% end %>
<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function(){
/*
      // commenting/uncommenting these few lines is all it takes to switch from tebs to accordion
      $(".fieldset-group").accordion({
        autoHeight : false,
        navigation : true,
        header     : 'fieldset legend',
        collapsible: true,
        animated   : false
      });
*/
      addTabsNavigation(".fieldset-group", "span");
      $(".fieldset-group").tabs();
    });

  <% end %>
<% end %>
<div class='plugin-icon'><img src='/icons/yast-network.png' alt=''/><%=_("Network")%></div>
<div class='plugin-content'>

<%= render :partial => 'shared/missing_write_permissions' if write_disabled %>

<% form_for :network, @network, :url => { :action => "update" }, :html => {:id=>"dnsForm", :method => :put, :onsubmit => "return switchFieldsetGroupTab();"} do |n| %>
<%= n.error_messages %>
  
  <input type="hidden" id="interface" name="interface" value="<%= @iface %>"/>
  <fieldset id="general-settings">
    <legend><span><%= _("General settings")%></span></legend>
    <p>
      <label for="<%= :conf_mode %>"><%=_("Configuration mode")%></label>
      <%= select_tag(:conf_mode, options_for_select(@conf_modes, @conf_mode), :disabled => write_disabled, :onchange => "hide_static_config();")%>
    </p>
  </fieldset>
  <div class="fieldset-group">
    <fieldset id="ip-address">
      <legend id="ip-tab"><span><%= _("IP Address")%></span></legend>
      <div>
        <p>
          <label for="<%= :ip %>"><%=_("IP address")%></label>
          <%=text_field_tag :ip, @ip, :class=>"static", :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
        <p>
          <label for="<%= :netmask %>"><%=_("Subnet mask/Prefixlen")%></label>
          <%=text_field_tag :netmask, @netmask, :class=>"static", :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
        <p>
          <label for="<%= :default_route %>"><%=_("Default route")%></label>
          <%=text_field_tag :default_route, @default_route, :class=>"static", :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
      </div>
    </fieldset>
    <fieldset id="dns">
      <legend id="dns-tab"><span><%= _("DNS")%></span></legend>
      <div>
        <p>
          <label for="<%= :name %>"><%=_("Hostname")%></label>
          <%=text_field_tag(:name, @name, :onblur=>"endWithHyphen(this);clearWarning();", :onkeyup=>"hostValidation(this,valChar);", :onkeydown=>"clearWarning();", :disabled => write_disabled) %>
<!--           <span id="warning" style="font-weight:bold; margin-left:20px; color:#c00000">&nbsp;</span> -->
	    <label class="error" for="name" generated="true">&nbsp;</label>
	    <div style="clear:both"></div>
        </p>
        <p>
          <label for="<%= :domain %>"><%=_("Domain")%></label>
          <%=text_field_tag :domain, @domain, :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
        <p>
          <label for="<%= :dhcp_hostname %>"><%=_("Change hostname by DHCP")%></label>
	 <%= check_box_tag :dhcp_hostname, "1", @dhcp_hostname , :disabled=>!@dhcp_hostname_enabled %>
	 <input type="hidden" name="dhcp_hostname_enabled" value="<%= @dhcp_hostname_enabled %>"/>
	</p>
        <p>
          <label for="<%= :nameservers %>"><%=_("Name servers")%></label>
          <%=text_field_tag :nameservers, @nameservers.join(" "), :class=>"nameservers static", :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
        <p>
          <label for="<%= :searchdomains %>"><%=_("Search domains")%></label>
          <%=text_field_tag :searchdomains, @searchdomains.join(" "), :class=>"static", :disabled => write_disabled %>
	  <div style="clear:both"></div>
        </p>
      </div>
    </fieldset>
  </div>
  <div class="nav-buttons">
    <%= form_send_buttons :disabled => write_disabled %>
  </div>
<% end %>
</div>
