<div class='plugin-icon'><img src='/icons/yast-network.png'/></div>
<div class='plugin-content'>
<h2><%=_("Network")%></h2>

<% disabled = ! @permissions[:write] %>


<% form_tag("/network", :method => "get") do |f| %>
  <!-- (collection, value, text, selected) -->
  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("Interface")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><%= select_tag(:interface,
      options_from_collection_for_select(@ifcs, :id, :id, @iface)) %></td>
	<td class="last"><%= submit_tag("Select") %></td>
    </tr>
    </table>
  </div>
<% end %>

<% form_for(:network, @network, :url => { :action => "update" }, :html => { :method => :put } ) do |n| %>
<%= n.error_messages %>
<!-- ~/svn/web-client/plugins/systemtime/app/views/systemtime/index.rhtml -->

<input type="hidden" id="interface" name="interface" value="<%= @iface %>">

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("IP Address")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Configuration Mode")%></strong></td>
	<td class="last"><%=text_field_tag :conf_mode, @conf_mode, :disabled => disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("IP Address")%></strong></td>
	<td class="last"><%=text_field_tag :ip, @ip, :disabled => disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Netmask")%></strong></td>
	<td class="last"><%=text_field_tag :netmask, @netmask, :disabled => disabled %></td>
    </tr>
    </table>
  </div>

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("DNS")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Hostname")%></strong></td>
	<td class="last"><%=text_field_tag :name, @name, :disabled => disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Domain")%></strong></td>
	<td class="last"><%=text_field_tag :domain, @domain, :disabled => disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Name Servers")%></strong></td>
	<td class="last"><%=text_field_tag :nameservers, @nameservers.join(" "), :disabled => disabled %></td>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Search Domains")%></strong></td>
	<td class="last"><%=text_field_tag :searchdomains, @searchdomains.join(" "), :disabled => disabled %></td>
    </tr>

    </table>
  </div>

  <div class="table">
    <table class="list" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("Routing")%></th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Default Route")%></strong></td>
	<td class="last"><%=text_field_tag :default_route, @default_route, :disabled => disabled %></td>
    </tr>
    </table>
  </div>

<%= n.submit _("Update"), :disabled => disabled %><a href="/" class="button"><%=_("Back")%></a>
<% end %>
</div>
