<h3><%=_("New Samba Share")%></h3>

<% form_for :share, :url => { :action => "create"}  do |f| %>
  <%= f.error_messages %>

  <div class="table">
    <table class="list">
    <tr>
 	<th class="full" colspan="2">Samba Share</th>
    </tr>
    <tr>
	<td class="first" width="120"><strong><%=_("Share Name")%></strong></td>
	<td class="last"><%= f.text_field :id %></td>
    </tr>

    <% @share.parameters.each do |p| %>
    <tr>
	<td class="first" width="120"><strong><%= h p.name%></strong></td>
	<td class="last"> <input type="text" id="share[parameters][<%= h p.name -%>]" name="share[parameters][<%= h p.name -%>]" value="<%= p .value -%>"/> </td>
    </tr>
    <% end %>

    </table>
    <p><%= f.submit _("Create"), :onclick=>"Element.show('progress')" %><%= link_to _('Back'), 'samba_server', :onclick=>"Element.show('progress')", :class => "button" %></p>
  </div>
<% end %>
