<%#
#--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
#++
%>
<% unauthorized =  error.class == ActiveResource::UnauthorizedAccess -%>

<div class="status_status">
  <% link_to (unauthorized ? "controlpanel" : "status") do %>
    <%= report_error(error, _("An problem occured when loading status information.")) if error && !unauthorized %>
    <% unless status.blank? %>
      <span class="status-icon <%= level %>">&nbsp;</span>
      <span><%= status %></span>
    <% else %>
      <% if unauthorized -%>
	<span class="status-icon warning">&nbsp;</span>
        <span><%= _("Cannot read system status - you have been logged out.") %></span>
      <% elsif !error %>
	<span class="status-icon ok">&nbsp;</span>
        <span><%= _("Your system is healthy.") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if refresh_timeout.to_i > 0 && !unauthorized -%>
  <!-- refresh the status again after a timeout -->
  <% javascript_tag do -%>
    setTimeout(function() {
      $('#status_status').html('<%= image_tag("/images/working.gif", :class => "small-working-icon") %> <%= _("Loading system information") %>')
      <%= remote_function(:update => "status_status",
	:url => { :controller => :status, :action => :show_summary, :background => true }) %>
      }, <%= refresh_timeout.to_i * 1000 -%>);
  <% end -%>
<% end %>
