<% write_disabled = !true %>

<% content_for :head do %>
   <%= javascript_include_tag :defaults %>
   <link rel="stylesheet" href="/inc/smoothness/jquery.ui.custom.css" type="text/css" media="screen" title="default" charset="utf-8" />
<% end %>

<div class='plugin-icon'><img src='/images/monitoring.png'/><%=_("Status")%></div>
<div class="plugin-content grid_12">
<h2><%= _("Settings") %></h2>

<% form_tag( {:action => :save} , {:class => 'tab-form'} ) do %>
  <ul class="tab-nav">
    <!-- javascript adds tabs here -->
  </ul>

  <% @graphs.each do |group| %>
    <fieldset id=<%= group.id %> class="ui-tab">
      <legend><%= group.id %></legend>    
      <br>	
      <p>Alarm, if</p>
      <% group.single_graphs.each do |single_graph| %>
        <% if group.single_graphs.size > 1 %>
          <br>	
          <p><b><%= "#{single_graph.headline}" %></b></p>
        <% end %>
        <% single_graph.lines.each do |line| %>
          <% limit_key = "#{group.id}/#{single_graph.headline}/#{line.label}" 
             measurements = {_("undercuts") => "min", _("exceeds") => "max"}
             if line.limits.max.to_i > 0
               val = line.limits.max.to_i
               measurement = "max"
             elsif line.limits.min.to_i > 0
               val = line.limits.min.to_i
               measurement = "min"
             else
               val = ""
               measurement = "max"
             end
          %>
          <p>
            <label for="#{limit_key}"><%="#{line.label}"%></label>
            <%= select_tag("measurement/"+limit_key, options_for_select(measurements, measurement), :disabled => write_disabled)%>
            <%=text_field_tag "value/"+limit_key, val, :disabled => write_disabled %>
            <%= "#{group.y_label}" %>
          </p>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>
  <p>
    <%= form_send_buttons :disabled => write_disabled %>
  </p>
<% end %>
</div>