<% disabled = ! @permissions[:writelimits] %>
<h1><%=_("Configure Status Limits")%></h1>

<% form_tag '/status/save' do %>
<table class="list">
  <tr>
    <th width=350><%=_("Status Path")%></th>
    <th width=100><%=_("Minimum Value")%></th>
    <th width=100><%=_("Maximum Value") %></th>
  </tr>

  <% @data_group.each do |key, map| %>
    <% map.each do |graph_key, list_value| %>
      <% if key != "df" || !graph_key.end_with?("used") %>
        <tr>
        <% limit_key = "/#{key}/#{graph_key}" %>
        <td><%= limit_key %></td>

        <% if  @limits_list.has_key?(limit_key)  %>
          <td>
            <input name=<%= limit_key+"/min" %> type="text" size="10" maxlength="15" value=<%= @limits_list[limit_key][:min][0][1] %>>
          </td>
          <td>
            <input name=<%= limit_key+"/max" %> type="text" size="10" maxlength="15" value=<%= @limits_list[limit_key][:max][0][1] %>>
          </td>
        <% else %>
          <td>
            <input name=<%= limit_key+"/min" %> type="text" size="10" maxlength="15" value="">
          </td>
          <td>
            <input name=<%= limit_key+"/max" %> type="text" size="10" maxlength="15" value="">
          </td>
        <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<%= submit_tag _("Save"), :disabled=> disabled, :class => 'button' -%>
<a href="/status" class="button"><%=_("Back")%></a>
<% end -%>

