<% write_disabled = !@permissions[:writelimits] %>

<% content_for :head do %>
   <%= javascript_include_tag :defaults %>

   <% javascript_tag do -%>
      // Sets a focus to a fieldID, switching to its tab first.
      // fieldID is like "value/CPU/CPU"
      function focus_field(fieldID) {
        $("#accordion").accordion('activate',$("#"+fieldID).parent().parent().prev());
        $("#"+fieldID).focus();
      }

      function validNumber(number) {
        if (number.length > 0 && !number.match(/^[0-9]{1,20}$/))
          return false;

        return true;
      }

      function validateLimits() {
        <% @graphs.each do |group| %>
          <% group.single_graphs.each do |single_graph| %>
            <% single_graph.lines.each do |line| %>
              <% limit_key = "value_#{group.id}_#{single_graph.headline}_#{line.label}" %>
              if (! validNumber($("#<%=limit_key%>")[0].value)) {
                say_bad = "<%= _("Only numbers are valid !") %>"
                focus_field("<%=limit_key%>");
                alert (say_bad);
                return false;
              }
            <% end %>           
          <% end %>
        <% end %>
        $('#progress').show();
        return true;
      };
      $(document).ready(function(){
        $("#accordion").accordion({
           navigation : true,
           header     : 'fieldset legend'
        });
      });
   <% end %>
<% end %>

<div class='plugin-icon'><img src='/images/monitoring.png'/><%=_("Status") + header_spacer + _("Settings")%></div>
<div class="plugin-content grid_12">
<% form_tag( {:action => :save} , { :onsubmit => "return validateLimits();" ,:class => 'tab-form'} ) do %>
  <div id="accordion">
  <% @graphs.each do |group| %>
    <fieldset id=<%= group.id %> class="wrapper with-background">
      <legend id="<%= group.id %>"><%= group.id %></legend>
      <div>
        <p>Alarm, if</p>
        <% group.single_graphs.each do |single_graph| %>
          <% if group.single_graphs.size > 1 %>
            <p><b><%= "#{single_graph.headline}" %></b></p>
          <% end %>
          <% single_graph.lines.each do |line| %>
            <% limit_key = "#{group.id}/#{single_graph.headline}/#{line.label}" 
               measurements = {_("undercuts") => "min", _("exceeds") => "max"}
               if line.limits.max.to_i > 0
                 val = line.limits.max.to_i
                 measurement = "max"
               elsif line.limits.min.to_i > 0
                 val = line.limits.min.to_i
                 measurement = "min"
               else
                 val = ""
                 measurement = "max"
               end
            %>
            <p>
              <label for="#{limit_key}"><%="#{line.label}"%></label>
              <%= select_tag("measurement/"+limit_key, options_for_select(measurements, measurement), :disabled => write_disabled)%>
              <%=text_field_tag "value/"+limit_key, val, :disabled => write_disabled %>
              <%= "#{group.y_label}" %>
            </p>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
  </div>
<fieldset>
  <%= form_back_button :action => :index%>
  <%= form_str_spacer %>
  <%= form_next_button :disabled => write_disabled %>
</fieldset>
<% end %>
</div>
