<% write_disabled = !true %>

<% content_for :head do %>
   <%= javascript_include_tag :defaults %>
   <link rel="stylesheet" href="/inc/smoothness/jquery.ui.custom.css" type="text/css" media="screen" title="default" charset="utf-8" />
<% end %>

<div class='plugin-icon'><img src='/images/monitoring.png'/><%=_("Status")%></div>
<div class="plugin-content grid_12">
<h2><%= _("Settings") %></h2>

<% form_tag( {:action => :save} , {:class => 'tab-form'} ) do %>
  <ul class="tab-nav">
    <!-- javascript adds tabs here -->
  </ul>

  <% @graphs.each do |group| %>
  
    <fieldset id=<%= group.id %> class="ui-tab">
      <legend><%= group.id %></legend>    
      
        <br>	
        <p>Alarm, if</p>
        <p>
        <div class="table">
        <table class="list">
          <% group.single_graphs.each do |single_graph| %>
            <% single_graph.lines.each do |line| %>
             <tr>

               <td width="180">
                 <%= "#{single_graph.headline} / #{line.label}  " %>
               </td>
               <td width="60">
                 <select name="measurement">
                    <option value="0">undercuts</option>
                    <option value="1">exceeds</option>
                 </select>
               </td>
               <td width="10">
                 <input name="" type="text"> 
               </td>
               <td>
                 <%= "#{group.y_label}" %>
               </td>
             </tr>
            <% end %>
          <% end %>
        </table>
        </div>
    </fieldset>
  <% end %>

  <p>
    <%= form_send_buttons :disabled => write_disabled %>
  </p>
<% end %>
</div>