
<h1>Status</h1>

<% last = false %>
<% @data_group.each do |key, map| %>
  <% if last %>
    <br style='clear: both'>
    <% last = !last %>
  <% end %>
  <h3><%= key.tr('_',' ').capitalize %></h3>

  <% map.each do |graph_key, list_value| %>
    <% graph_id = key + "_" + graph_key.tr('/','_') %>
    <%= graph(graph_id, 400, 300, last) %>
    <% last = !last %>
  <% end %>
<% end %>


<script type="text/javascript">



function plotLineGraph(graph_id, graph_title, graph_data ) {

  $.jqplot(graph_id, graph_data, {
      title: graph_title,
      axes: {
        xaxis: {
         showTicks: false
        },
        yaxis: {
          showTicks: true,
          min: 0
        }        
      },

  series:[{color:'#5FAB78'}]
    });
}

  $(function() {
    <% @data_group.each do |key, map| %>
      <% map.each do |graph_key, list_value| %>
        <% graph_id = key + "_" + graph_key.tr('/','_') %>
        $('#' + '<%= graph_id %>').html("");
        plotLineGraph('<%= graph_id %>', '<%= graph_key.tr('/','_').tr('_',' ').capitalize %>', [<%= list_value.inspect %>]);
      <% end %>
    <% end %>

  });
</script>

