
<% content_for :head do %>

<!--[if IE]><%= javascript_include_tag "excanvas.js" %><![endif]-->
<%= javascript_include_tag "jquery.jqplot.js" %>
<%= javascript_include_tag "plugin/jqplot.categoryAxisRenderer.js" %>
<%= javascript_include_tag "plugin/jqplot.dateAxisRenderer.js" %>
<%= javascript_include_tag "plugin/jqplot.canvasTextRenderer.js" %>
<% end %>

<% content_for :before_script do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $(".accordion").accordion({
        autoHeight : false,
        navigation : true,
        collapsible: true,
        header     : 'fieldset legend'
      });
      $(".accordion").accordion('activate',false);
    });
  <% end %>
<% end %>

<%= javascript_include_tag :defaults %>

<div class='plugin-icon'><img src='/images/monitoring.png'/><%=_("Status")%></div>
<div class="plugin-content grid_12">

<div class="accordion">
<% if @graphs  %>
  <% @graphs.each do |group| %>
    <fieldset class="wrapper with-background">
      <% if limits_reached(group) %>
        <% status_icon = "<span class='status-icon error'></span>" %>
      <% else %>
         <% status_icon = "<span class='status-icon ok'></span>" %>
      <% end %>
      <legend>
      <%=link_to_remote status_icon + group.id, :update => graph_id(group.id, group.single_graphs.first.headline),
        :url => { :action => "evaluate_values", :group_id => group.id, :graph_id => group.single_graphs.first.headline },
        :complete => evaluate_next_graph(group.id, group.single_graphs, 1 )%>
      </legend>
      <div style="display: none;">

          <% group.single_graphs.each do |single_graph| %>
            <p>     
              <h3><%= single_graph.headline %></h3>    
            </p>
            <p>
              <% measurement_id = "measurement_" + group.id + "_" + single_graph.headline%>
              <%= _("Show last") %> <select name="<%=measurement_id%>" id="<%=measurement_id%>">
		<option value="5"><%= _("5 Minutes") %></option>
		<option value="15"><%= _("15 Minutes") %></option>
		<option value="30"><%= _("30 Minutes") %></option>
		<option value="60"><%= _("1 Hour") %></option>
		<option value="360"><%= _("6 Hours") %></option>
		<option value="720"><%= _("12 Hours") %></option>
              </select>
              <%= observe_field(measurement_id,
                :update => graph_id(group.id, single_graph.headline),
                :frequency => 0.25,
                :loading => "$('#progress').show()",
                :url => { :action => "evaluate_values", :group_id => group.id, :graph_id => single_graph.headline },
                :complete => "$('#progress').hide()",
                :with => "'minutes=' + value" ) %>
            </p>
            <p>         
              <%= graph(graph_id(group.id, single_graph.headline), 400, 300) %>
            </p>
          <% end %>
      </div>
    </fieldset>
  <% end %>
<% end %>
<% @logs.each do |log| %>
    <fieldset class="wrapper with-background">
      <% default_lines=50 %>
      <% frequency=15 %>
      <legend>
      <%=link_to_remote "<span class='status-icon none'></span>" + log.description, 
            :update => log_id(log.id),
            :url => { :action => "ajax_log_custom", :id => log.id, :lines => default_lines } %>
      </legend>
      <ul style="display: none;">
        <div id="<%="log-#{log.id}-console"%>" >
          <%= log.path %>
        </div>
      </ul>
    </fieldset>
    <%  periodically_call_remote(:url => { :action => "ajax_log_custom", 
                                 :id => log.id, :lines => default_lines }, :frequency => frequency, 
                                 :update => log_id(log.id)) #currently due missing '=' disabled %>
<% end %>
</div>
<fieldset>
<%= form_back_button %> 
<%= form_str_spacer %>
<%= link_to  _("Edit Limits"), '/status/edit' %>
</fieldset>
</div>

