
<% content_for :head do %>
<script type="text/javascript">

function refreshLogs() {

<% @logs.each do |log| %>
  $('#log-<%= log.id %>-console').load('/status/ajax_log_custom?id=<%= log.id %>&lines=5');
<% end %>
}

$(document).ready(function() {
  $.ajaxSetup ({  
    cache: false  
  });
  //$('#log-console').addClass('busy');
  setInterval(refreshLogs, 10000); // refresh every 10 seconds
});

</script>
<% end %>

<div class='plugin-icon'><img src='/images/monitoring.png'/></div>
<div class='plugin-content'>
<h2><%=_("Status")%></h2>

<h3><%= _("Events") %></h3>

<% @logs.each do |log| %>
<h2><%= log.description %></h2>
<div id="log-<%= log.id %>-console"
<%= log.path %>
</div>
<% end %>


<div id="log-console">
</div>

<% column = 1 %>
<% @data_group.keys.sort.each do |key| %>
  <% map = @data_group[key]%>
  <% if column != 1 %>
    <br style='clear: both'>
    <br>
    <% column = 1 %>
  <% end %>
  <% if key == "df" %>
    <h3><%= _("Disk usage") %></h3>
  <% else %>
    <h3><%= key.tr('_',' ').capitalize %></h3>
  <% end %>

  <% map.keys.sort.each do |graph_key| %>
    <% list_value = map[graph_key] %>
    <% if key != "df" || !graph_key.end_with?("used") %>
      <% graph_id = key + "_" + graph_key.tr('/','_') %>
      <%= graph(graph_id, 200, 150, column == 4?true:false, @limits_list[:reached].include?("/" + key + "/" + graph_key)&&key=="df") %>
      <% if column == 4 %>
        <br>
        <% column = 1 %>
      <% else %>
        <% column += 1 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if column != 1 %>
  <br style='clear: both'>
  <br>
<% end %>
<br>
<br>
<%= link_to  _("Edit Limits"), '/status/edit', :class => "button" %>
<a href="/" class="button"><%=_("Back")%></a>
<br>
<br>
<h4><%= _("These values have been evaluated the last 5 minutes.") %></h4>
<br>
</div>

<script type="text/javascript">


function plotPieGraph (graph_id, graph_title, graph_data ) {
  $.jqplot(graph_id, [graph_data], {
      title: graph_title,
      legend: {
        show: true
      },
      seriesDefaults: {
        renderer: $.jqplot.PieRenderer,
        rendererOptions: {
            sliceMargin: 0,
            diameter: 100
        }
      },

      cursor: {
        show: false
      },
    });
}

function plotPieGraphError (graph_id, graph_title, graph_data ) {
  $.jqplot(graph_id, [graph_data], {
      title: {
         text: graph_title,
         textColor: '#FF0000'
             },
      legend: {
        show: true
      },
      seriesDefaults: {
        renderer: $.jqplot.PieRenderer,
        rendererOptions: {
            sliceMargin: 0,
            diameter: 100
        }
      },

      cursor: {
        show: false
      },
    });
}



function plotLineGraph(graph_id, graph_title, graph_data ) {
  $.jqplot(graph_id, graph_data, {
      title: graph_title,
      axes: {
        xaxis: {
         showTicks: false,
        },
        yaxis: {
          showTicks: true,
          min: 0
        }
      },
      series:[{color:'#5FAB78',
               lineWidth: 1,
               markerOptions: {
                 size: 0
               }
              },
              {color:'#E89120',
               lineWidth: 1,
               markerOptions: {
                 size: 0
               }
              }]
    });
}

function plotLineGraphError(graph_id, graph_title, graph_data ) {
  $.jqplot(graph_id, graph_data, {
      title: {
         text: graph_title,
         textColor: '#FF0000'
             },
      grid: {
         borderColor: '#FF0000'
            },
      axes: {
        xaxis: {
         showTicks: false,
         borderColor: '#FF0000'
        },
        yaxis: {
          showTicks: true,
          min: 0,
          borderColor: '#FF0000'
        }
      },
      series:[{color:'#FF0000',
               lineWidth: 1,
               markerOptions: {
                 size: 0
               }
              },
              {color:'#E89120',
               lineWidth: 1,
               markerOptions: {
                 size: 0
               }
              }]
    });
}


  $(function() {
    <% @data_group.each do |key, map| %>
      <% map.each do |graph_key, list_value| %>
        <% graph_id = key + "_" + graph_key.tr('/','_') %>
        <% limit_key = "/#{key}/#{graph_key}" %>
        <% if key != "df" %>
          $('#' + '<%= graph_id %>').html("");
          <% if @limits_list.has_key?(limit_key) %>
            <% if not @limits_list[:reached].blank? and @limits_list[:reached].include?(limit_key) %>
              plotLineGraphError('<%= graph_id %>', '<%= graph_key.tr('/','_').tr('_',' ').capitalize %>', [<%= list_value.inspect %>, <%= @limits_list[limit_key][:min].inspect %>, <%= @limits_list[limit_key][:max].inspect %>]);
            <% else %>
              plotLineGraph('<%= graph_id %>', '<%= graph_key.tr('/','_').tr('_',' ').capitalize %>', [<%= list_value.inspect %>, <%= @limits_list[limit_key][:min].inspect %>, <%= @limits_list[limit_key][:max].inspect %>]);
            <% end %>
          <% else %>
            plotLineGraph('<%= graph_id %>', '<%= graph_key.tr('/','_').tr('_',' ').capitalize %>', [<%= list_value.inspect %>]);
          <% end %>
        <% else %>
           <% if graph_key.end_with?("free")  %>
             $('#' + '<%= graph_id %>').html("");
             <% used_key = graph_key[0..graph_key.length-5] + "used" %>
             <% if not @limits_list[:reached].blank? and @limits_list[:reached].include?(limit_key) %>
               plotPieGraphError ('<%= graph_id %>', '<%= graph_key[2..graph_key.length-5].tr('_','/') %>', [["<%= _("free") %>", <%= list_value.last[1] %>], ["<%= _("used") %>", <%= map[used_key].last[1] %>]]);
             <% else %>
               plotPieGraph ('<%= graph_id %>', '<%= graph_key[2..graph_key.length-5].tr('_','/') %>', [["<%= _("free") %>", <%= list_value.last[1] %>], ["<%= _("used") %>", <%= map[used_key].last[1] %>]]);
             <% end %>
           <% end %>
        <% end %>
      <% end %>
    <% end %>

  });
</script>

