
<% content_for :head do %>
<script type="text/javascript">

function refreshLogs() {

<% @logs.each do |log| %>
  $('#log-<%= log.id %>-console').load('/status/ajax_log_custom?id=<%= log.id %>&lines=5');
<% end %>
}

$(document).ready(function() {
  $.ajaxSetup ({  
    cache: false  
  });
  //$('#log-console').addClass('busy');
  setInterval(refreshLogs, 10000); // refresh every 10 seconds
});

function initMenuBar() {
  $('#menu ul').hide();
  $('#menu li a').click(
    function() {
        $(this).next().slideToggle('slow');
      }
    );
  }
$(document).ready(function() {initMenuBar();});

</script>
<% end %>

<div class='plugin-icon'><img src='/images/monitoring.png'/><%=_("Status")%></div>
<div class="plugin-content grid_12">
  <% @logs.each do |log| %>
  <h2><%= log.description %></h2>
  <div id="<%="log-#{log.id}-console"%>" >
    <%= log.path %>
  </div>
<% end %>


<div id="log-console">
</div>
<ul id="menu">
<% @graphs.each do |group| %>
  <li>
    <a href="#">
    <% if limits_reached(group) %>
      <div class="status-icon error %>"></div>
    <% else %>
       <div class="status-icon ok"></div>
    <% end %>
    <%= group.id %>
    </a>
    <ul>
       <p>
	Show last <select name="measurement">
		<option value="5"><%= _("5 Minutes") %></option>
		<option value="15"><%= _("15 Minutes") %></option>
		<option value="30"><%= _("30 Minutes") %></option>
		<option value="60"><%= _("1 Hour") %></option>
		<option value="360"><%= _("6 Hours") %></option>
		<option value="720"><%= _("12 Hour") %></option>
	</select>
	</p>
        <% group.single_graphs.each do |single_graph| %>
          <p>     
            <h3><%= single_graph.headline %></h3>    
          </p>
          <p>         
            <% graph_id = group.id + "_" + single_graph.headline %>
            <%= graph(graph_id(group.id, single_graph.headline), 400, 150) %>
          </p>
        <% end %>
    </ul>
  </li>
<% end %>
</ul>

<p>
<%= link_to  _("Edit Limits"), '/status/edit', :class => "button" %>
</p>
<p>
<a href="/" class="button"><%=_("Back")%></a>
</p>
</div>

