<% unauthorized =  error.class == ActiveResource::UnauthorizedAccess -%>
<% error_string.match /Repository (.*) needs to be signed/ -%>
<% unsigned_repo = $1 -%>
<% error = nil unless unsigned_repo.blank? %>
<%= report_error(error, error_string) if error && !unauthorized %>

<div class="status_patches">
  <% unless patch %>
      <div class="status-icon warning"></div>
      <% if unauthorized %>
	<% link_to "controlpanel" do %>
	  <%= _("Cannot read patch updates - you have been logged out.") %>
	<% end %>
      <% else %>
	<% if unsigned_repo.blank? %>
	  <%= _("No information about patches available") %>
	<% else %>
	  <%= _("Cannot read patch updates: GPG key for repository <em>%s</em> is not trusted.") % unsigned_repo %>
	<% end %>
      <% end %>
  <% else %>
    <% label = [] %>
    <% link_to "patch_updates" do %>
      <% if patch[:security]+patch[:important] > 0 %>
        <div class="status-icon error"></div>
      <% elsif patch[:optional] > 0%>
        <div class="status-icon warning"></div>
      <% else %>
        <div class="status-icon ok"></div>
      <% end %>

      <% if patch[:security] > 0 %>
        <% label << _("Security Updates: %d") % patch[:security]%>
      <% end %>
      <% if patch[:important] > 0 %>
	<% label << _("Important Updates: %d") % patch[:important] %>
      <% end %>
      <% if patch[:optional] > 0 %>
	<% label << _("Optional Updates: %d") % patch[:optional] %>
      <% end %>
      <% if label.empty? %>
	<% label << _("Your system is up to date.") %>
      <% end %>
      <span><%= label.join(", ") %></span>
    <% end %>
    <% if patch[:security] > 0 or patch[:important] > 0 or patch[:optional] > 0%>
      <%= button_to_remote _("Update All"), :update =>"status_patches", :url => { :controller => :patch_updates, :action => :start_install_all}, :confirm => _("Updating all. Are you sure?") %>
    <% end %>

  <% if refresh_timeout.to_i > 0 -%>
    <!-- refresh the status again after a timeout -->
    <% javascript_tag do -%>
      setTimeout(function() {
	$('#status_patches').html('<%= image_tag("/images/working.gif", :height=>"32", :width=>"32", :border=>"0") %> <%= _("Loading patch information") %>')
	<%= remote_function(:update => "status_patches",
	    :url => { :controller => :patch_updates, :action => :show_summary, :background => true }) %>
      }, <%= refresh_timeout.to_i * 1000 -%>);
    <% end -%>
  <% end -%>

  <% end %>
</div>
