<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<script type="text/javascript">
  $(document).ready(function() {
    $(":button").click(function() {
      $("button[type=submit].active").removeClass('active')
      $(this).removeClass("left").addClass("active left");
      return false;
    });
    $("form#form1").submit(function () { return false; }); // so it won't submit

    //block whole form onsubmit
    var message = "<%= _("Please wait") -%>";
    $("#update_submit_button").click(function() {
      disableFormOnSubmit(message);      
    });

    
  });
  function disableForm(){
    $(document).ready(function() {
      var message = <%= jss _("Please wait") -%>;
      disableFormOnSubmit(message);    
    });
  }
</script>

<% if @permissions and @patch_updates %>
<%= javascript_include_tag :defaults %>

<div class='plugin-icon'><img alt="yast-online_update" src='/icons/yast-online_update.png'/><%=_("Updates") %></div>
  <div class='plugin-content'>
    <div class="loading"></div>
<!--     <#%#@patch_updates = []#%#> -->
    <% if @patch_updates.empty? %>
    <h3 class="module_header"><%=_("Your system is up to date.") unless @error%></h3>
    <div class="nav-buttons">
      <%= form_back_button %>
    </div>
    <% else %>
      <% @hash = Hash.new(0)
	counter=0
	@patch_updates.each do |p|
	  if @hash.has_key?(p.kind) 
	    @hash[p.kind]= @hash[p.kind]+1
	    counter = counter+1
	  else 
	    @hash[p.kind]=1
	    counter = counter+1
	  end 
      end %>
    <form id="form1" style="z-index:0" method="post">
      <div id="parent">
	<div id="shade"></div>
	<div id="wait"><%= image_tag("/images/wait.gif", :style => "vertical-align:middle;") %><%=_("Please wait ...") %></div>
      </div>

      <fieldset id="updates_fieldset" style="margin:1em; padding:5px;">
      <legend id="updates_legend"><span><%=_("Updates available") %></span></legend>
      <div id="updates_panel" style="margin:0px; padding:0px; float:left">
	  <button type="submit" id="comment" class="left active" value="all" 
	     onclick ="<%= remote_function(:update => :patchesd, :url => { :action => :load_filtered }, :with => "'value=' + value",
	     :loading =>visual_effect(:appear, 'parent', :duration =>1), :complete => visual_effect(:fade, 'parent', :duration => 1)) %>">
	     <img src='/icons/yast-online_update.png'><%=_("All updates") %>&nbsp;<span>(<%=counter%>)</span> 
	  </button>
	  <button type="submit" class="middle" value="security" 
	      onclick ="<%= remote_function(:update => :patchesd, :url => { :action => :load_filtered }, :with => "'value=' + value", 
	      :loading =>visual_effect(:appear, 'parent', :duration =>1), :complete => visual_effect(:fade, 'parent', :duration => 1)) %>">
	      <img src='/icons/kupdateapplet_red.png'><%=_("Security") %>&nbsp;<span>(<%=@hash["security"]%>)</span></button>
	  <button type="submit" class="middle" value="important" 
	      onclick ="<%= remote_function(:update => :patchesd, :url => { :action => :load_filtered }, :with => "'value=' + value",
	      :loading =>visual_effect(:appear, 'parent', :duration =>1), :complete => visual_effect(:fade, 'parent', :duration => 1)) %>">
	    <img src='/icons/kupdateapplet_yellow.png'><%=_("Important") %>&nbsp;<span>(<%=@hash["important"]%>)</span> 
	  </button>	  
	  <button type="submit" class="middle" value="green" 
	      onclick ="<%= remote_function(:update => :patchesd, :url => { :action => :load_filtered }, :with => "'value=' + value",
	      :loading =>visual_effect(:appear, 'parent', :duration =>1), :complete => visual_effect(:fade, 'parent', :duration => 1)) %>">
	      <img src='/icons/kupdateapplet_green.png'><%=_("Recommended") %>&nbsp;<span>(<%=@hash["green"]%>)</span> 
	  </button>
	  <button type="submit" class="right" value="optional" 
	    onclick ="<%= remote_function(:update => :patchesd, :url => { :action => :load_filtered }, :with => "'value=' + value",
	    :loading =>visual_effect(:appear, 'parent', :duration =>1), :complete => visual_effect(:fade, 'parent', :duration => 1)) %>">
	    <img src='/icons/kupdateapplet_optional.png'><%=_("Optional") %>&nbsp;<span>(<%=@hash["optional"]%>)</span> 
	  </button>
      </div>	
      </fieldset>
    </form>
  
    <% form_for :patch_updates, :url => { :action => "install" }, :html => {:id => "patches-form"} do |form| %>
      <fieldset>
	<div id="patchesd"><%= render :partial => "patches"%></div>
      </fieldset>
      <div class="buttons" style="padding:10px; vertical-align:middle; ">
	<%= form_send_buttons :label => _("Update"), :id=>"update_submit_button", :onclick => "$('#progress').show()", :action => 'install' %>
	<br style="clear:both" />
      </div>
    <% end %> 
  <% end %>
</div>
<% end %>


