<% if @permissions and @patch_updates %>
  <%= javascript_include_tag :defaults %>
  <style type="text/css">

    option[value=security]:before { content:url('/icons/kupdateapplet_red.png'); }
    option[value=important]:before { content:url('/icons/kupdateapplet_yellow.png'); }
    option[value=green]:before { content:url('/icons/kupdateapplet_green.png'); }
    option[value=optional]:before { content:url('/icons/kupdateapplet_optional.png'); }

  </style>
  <div class='plugin-icon'><img src='/icons/yast-online_update.png'/><%=_("Updates") %></div>
  <div class='plugin-content grid_12'>
  <div class="loading"></div>
  <% if @patch_updates.empty? %>
    <fieldset>
      <h3><%=_("Your system is up to date.") unless @error%></h3>
      <%= form_back_button %>
    </fieldset>
  <% else %>
    <fieldset>
      <h3><%=_("Updates available") %></h3>
  
      <select name="selector" id="selector" size="1">
        <option value="all">All</option>
        <option value="security">Security</option>
        <option value="important">Important</option>
        <option value="green">Green</option>
        <option value="optional">Optional</option>
      </select>
    </fieldset>
  
    <% form_for :patch_updates, :url => { :action => "install" }, :html => {:id => "patches-form"} do |form| %>
      <fieldset>
   
        <div id="patchesd"><%= render :partial => "patches"%></div>
      </fieldset>
      <fieldset>
        <%= form_send_buttons :label => _("Update"), :onclick => "$('#progress').show()", :action => 'install' %>
      </fieldset>
    <% end %>

    <%= observe_field(:selector,
      :frequency => 0.1,
      :update => :patchesd,
      :url => { :action => :load_filtered },
      :with => "'value=' + value"
    )
    %>
  <% end %>
  </div>

<% end %>

