<h1>Available Patches</h1>
<br>

<div class="table">
   <img src="images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
   <img src="images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
   <table class="listing" cellpadding="0" cellspacing="0">
      <tr>
	<th class="first" width=8%>Kind</th>
	<th width=15%>Name</th>
	<th width="100">Summary</th>
        <% if @installPermission == nil %>
           <th width=15%>Source</th>
           <th class="last" width=5%>Install</th>
        <% else %>
           <th class="last" width=15%>Source</th>
        <% end %>
      </tr>
      <% counter=0 %>
      <% for patch_update in @patch_updates %>
            <% if counter==0 %>
             <tr>
             <% counter += 1 %>
            <% else %>
             <tr class="bg">
             <% counter = 0 %>
            <% end %>
              <% if patch_update.kind == "important" || patch_update.kind == "security" %>
                 <td class="first style1"><%=h patch_update.kind %></td>
              <% else %>
                 <td><%=h patch_update.kind %></td>
              <% end %>
              <td><%=h patch_update.name %></td>
              <td><%=h patch_update.summary %></td>
              <td><%=h patch_update.repo %></td>
              <% if @installPermission == nil %>
                 <td><%= link_to image_tag("/images/add-icon.gif", :alt =>  "install"), 
                         patch_update_path(patch_update.resolvableId), :onclick=>"Element.show('progress')", :method => :post, :action => "install" %></td>
              <% end %>
           </tr>
      <% end %>
   </table>
</div>
