
<script type="text/javascript">
$(document).ready(function() {
  $('#details-link').click(function() { $('#backtrace').hide();$('#backtrace').show();return false; });
});
</script>

<h1><%= _("This is embarrasing....") %></h1>

<p><%= _("We are sorry, but there are some problems.") %></p>

<h3><%= _("Problem:") %></h3>

<p><pre>
  <%= h error.message %>
</pre></p>

<p><span class="bug-icon"></span><%= _("Please Report a bug so we can fix the problem!.") %><a href="<%= @bug_url %>"><%= _("(report link)") %></a></p>
<p><%= _("Don't forget to include the bug details.") %></p>

  <%
  backtrace = _("No information available")
  backtrace = error.backtrace.join("\n") unless (error.nil? || error.backtrace.nil? || error.backtrace.blank?)
  %>

<p><a href="#" id="details-link">Show details...</a><%= clippy(backtrace) %><p>

<pre id="backtrace" style="display: none">
<%= h backtrace  %>
</pre>





