
<script type="text/javascript">
$(document).ready(function() {
  $('#details-link').click(function() { $('#backtrace').hide();$('#backtrace').show();return false; });
});
</script>

<h1><%= _("This is embarrasing....") %></h1>

<p><%= _("We are sorry, but WebYaST is still in alpha and there are some problems.") %></p>

<h3><%= _("Problem:") %></h3>

<p><pre>
  <%= if error.kind_of? ActiveResource::ConnectionError
    "Problem occure on target machine"
    else
    h error.to_s
    end%>
</pre></p>

<p><%= _("Please Report a bug so we can fix the problem!.") %><a href="<%= @bug_url %>"><%= _("(report link)") %></a> 
<%= _("Don't forget to include the bug details.") %></p>

  <%
  backtrace = _("No information available")
  if error.kind_of? ActiveResource::ConnectionError
    backtrace = error.response.body
  else
    backtrace = error.backtrace.join("\n") unless (error.nil? || error.backtrace.nil? || error.backtrace.blank?)
  end
  %>


<p><a href="#" id="details-link">Show details...</a><%= clippy(backtrace) %><p>

<pre id="backtrace" style="display: none">
<%= backtrace  %>
</pre>





