
<script type="text/javascript">
$(document).ready(function() {
  $('#details-link').click(function() { $('#backtrace').hide();$('#backtrace').show();return false; });
});
</script>

<h1><%= _("This is embarrasing....") %></h1>

<p><%= _("We are sorry, but WebYaST is still in alpha and there are some problems.") %></p>

<h3><%= _("Problem:") %></h3>

<p><pre><%= h error.to_s %></pre></p>

<p><%= _("Please Report a bug so we can fix the problem!.") %><a href="<%= @bug_url %>"><%= _("(report link)") %></a> 
<%= _("Don't forget to include the bug details.") %></p>

<% backtrace = (error.nil? || error.backtrace.nil? || error.backtrace.blank?) ? _("No information available") : error.backtrace.join("\n") %>

<p><a href="#" id="details-link">Show details...</a><%= clippy(backtrace) %><p>

<pre id="backtrace" style="display: none">
<%= backtrace  %>
</pre>





