<%#
#--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>
<h1><%=_("Editing YaST-Web-Service")%></h1>

<script type="text/javascript">
$(document).ready(function() {
  $("#edit_host").validate({
    rules: {
      uri: {
        required: true,
        url: true
      }
    }
  });
});
</script>

<% form_for(@host) do |f| %>
  <%= f.error_messages %>

  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
 	<th class="full" colspan="2"><%=_("YaST-Web-Service")%></th>
    </tr>
    <tr>
	<td class="first" width="20"><strong><%=_("Name")%></strong></td>
	<td class="last"><%= f.text_field :name %></td>
    </tr>
    <tr>
	<td class="first" width="30"><strong><%=_("Url")%></strong></td>
	<td class="last"><%= f.text_field :url, :class => "required" %></td>
    </tr>
    <tr class="bg">
	<td class="first"><strong><%=_("Description")%></strong></td>
	<td class="last"><%= f.text_field :description %></td>
    </tr>
    </table>
    <p>
      <%= f.submit _("Ok"), :class => "button" %>
      <%= link_to _("Back"), '/hosts', :class=>"button" %>
    </p>
  </div>
<% end %>

