

<div class="services-list">
  
  <label for="services-list">Please choose a service:</label>
  <ul class="list-2level-inline">
    <% for host in @hosts %>
    <li>
      <ul>
        <li>
          <strong><%= link_to host.name, new_session_path(:hostid => "#{host.id}") %></strong>
        </li>
        <li>
          <span><%=h host.url %></span>
        </li>
        <li>
          <span><%=h host.description %></span>
        </li>
        <li>
          <%= link_to image_tag("/images/edit-icon.gif", :alt =>  "edit"),
                edit_host_path(host) %>
        </li>
        <li>
          <%= link_to image_tag("/images/delete.png", :alt =>  "delete"),
              host, :confirm => _("Really delete host #{host.name} ?"), :method => :delete %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul> 
  <p>  
  <%= link_to _('Add'), new_host_path, :class => "button" %>
  </p>
  <!--
   FIXME may be add remove and edit buttons and get rid of the icons above
  <input class="button disabled" disabled="true" type="submit" value="Remove" id="remove-printer"/>  
  <input class="button disabled" disabled="true" type="submit" value="Edit" id="edit-printer"/>        
  -->
</div>
<!--host list -->