<%#
#--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>
<div class="services-list dialoge-wrapper width-65">
  <div class="dialoge-sub-wrapper">
  
    <h2><%= _("Please choose a service:") %></h2>
    <ul class="list-2level-inline alternate-rows">
      <% for host in @hosts %>
      <li>
        <ul>
          <li>
            <strong><%= link_to h(host.name), new_session_path(:hostid => "#{host.id}") %></strong>
          </li>
          <li>
            <span class="li-url"><%=h host.url %></span>
          </li>
          <li>
            <span class="li-descr"><%=h host.description %></span>
          </li>
          <li>
            <%= link_to image_tag("/images/edit-icon.png", :alt =>  "edit"),
                  edit_host_path(host) %>
          </li>
          <li>
            <%= link_to image_tag("/images/delete.png", :alt =>  "delete"),
                host, :confirm => _("Really delete host %s ?") % host.name, :method => :delete %>
          </li>
        </ul>
      </li>
      <% end %>
    </ul> 
    <p>  
    <%= link_to _('Add'), new_host_path, :class => "button" %> new host.
    </p>
    <!--
     FIXME may be add remove and edit buttons and get rid of the icons above
    <input class="button disabled" disabled="true" type="submit" value="Remove" id="remove-printer"/>  
    <input class="button disabled" disabled="true" type="submit" value="Edit" id="edit-printer"/>        
    -->
  </div>
</div>
<!--host list -->
