<%#
#--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>
<div class="dialoge-wrapper">
  <div class="dialoge-sub-wrapper">
  <style type="text/css">
    label.error {
         display: none; color: red; padding-left: 11.5em; padding-bottom: 1.5em; text-align: left; vertical-align: top; width: 50%
    }
   </style>
  
  <h2><%=_("New WebYaST Host")%></h2>

    <script type="text/javascript">
    $(document).ready(function() {
      $("#new_host").validate({
        rules: {
          "host[name]" : { required : true },
          "host[url]": {
            required: true,
            remote: "/validate_uri"
          }
        },
        // set this class to error-labels to indicate valid fields 
        success: function(label) { 
          // set   as text for IE 
          label.html(" ").addClass("checked"); 
        } 
      });
    });
    </script>

    <% form_for(@host) do |f| %>
      <%= f.error_messages %>

      <fieldset class="wrapper with-background">

        <p>
          <label for="host_name"><%=_("Name")%></label>
          <%= f.text_field :name, :class => "required" %>
        </p>

        <p>
          <label for="host_url"><%=_("URL")%></label>
          <%= f.text_field :url %>
        </p>

        <p>
          <label for="host_description"><%=_("Description")%></label>
          <%= f.text_field :description %>
        </p>
      </fieldset>

        <p class="dialogue-footer">
          <%= link_to _('Cancel'), hosts_path, :class => "button" %>
          <%= f.submit _("Create"), :class => "button" %>
        </p>
    <% end %>

  </div>
</div>

