<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="webservice_category">YaST-Web-Service</label><br/>
<%= select 'webservice', 'name', 
    Webservice.find(:all).collect {|c| [c.name, c.name]} %>
<%= link_to "configure", :controller => 'webservices' -%><p/>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
