<% form_tag session_path do -%>

<p><label for="webservice_category">YaST-Web-Service</label><br/>
<%= select 'webservice', 'name', 
    @webservices.collect {|c| [c.name, c.name]},
    {}, { :size => 10 }
 %>
<%= link_to "configure", :controller => 'webservices' -%><p/>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>
<br>
<p><%= submit_tag 'Connect' %></p>
<% end -%>
