<html>

<script language="javascript">
 
  YAHOO.namespace('yuilogin');

  function initLoginDialog() {
    var handleCancel = function() {
      this.cancel();
    }

    YAHOO.yuilogin.loginDialog = new YAHOO.widget.Dialog("logindlg", {
       width: "625px",
       modal: true, 
       visible: false,
       fixedcenter: true, 
       constraintoviewport: true, 
       draggable: true });

    YAHOO.yuilogin.loginDialog.render();
  }

  function showLoginDialog(hostname) {
    document.forms["loginDialogForm"].hostname.value = hostname;
    YAHOO.yuilogin.loginDialog.show();
  }

  function hideLoginDialog() {
    YAHOO.yuilogin.loginDialog.hide();
  }

  YAHOO.util.Event.addListener(window, "load", initLoginDialog);
</script>


<% form_remote_tag( :html => {:name=>"loginDialogForm"},
                    :update => "connectedHost",
		    :url=>{ :action => "create" },
  		    :loading => "Element.show('progress');",
		    :complete => remote_function(
                        :url => { :action => "updateMenu"},
                        :update => "tabmenue",
                        :complete => remote_function(
                                        :url => { :action => "updateLogout"},
                                        :update => "logout",
                                        :complete => "Element.hide('progress'); hideLoginDialog(); new Effect.Highlight('connectedHost');")
                        )
                  ) do -%>

<!-- begin: dialog box -->
<div id="logindlg">
   <div class="box">
   <input type="hidden" id="hostname" name="hostname" size="40" type="text" />
   <div class="table">
      <img src="images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
      <img src="images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
      <table class="listing form" cellpadding="0" cellspacing="0">
      <tr>
	  <th class="full" colspan="2">User</th>
      </tr>
      <tr>
	  <td class="first" ><strong>Login</strong></td>
	  <td class="last" ><%= text_field_tag 'login', @user %></td>
      </tr>
      <tr class="bg">
	  <td class="first"><strong>Password</strong></td>
          <td class="last"><%= password_field_tag 'password', @password %></td>
      </tr>
      </table>

      <p><%= submit_tag 'Connect' %><%= link_to 'Back', session_path, :class => "button"%></p>
   </div>
   </div>
</div>
<!-- end: dialog box -->

<div class="table">
   <img src="images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
   <img src="images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
   <table class="listing form" cellpadding="0" cellspacing="0">
   <tr>
	<th class="full" colspan="2">YaST-Web-Services</th>
   </tr>
   <% counter = 1
      for webservice in @webservices %>
        <% if counter == 1 %>
           <tr class="bg">
        <% end %>         
        <td>
           <% if @host == webservice.name %>
              <%= link_to( image_tag("/images/computer_connected.png", :size => "64x64", :alt =>  "edit" ), "#", 
                           :onclick => "showLoginDialog(\"#{webservice.name}\")" ) %>
           <% else %>
              <%= link_to( image_tag("/images/computer.png", :size => "64x64", :alt =>  "edit" ), "#", 
                           :onclick => "showLoginDialog(\"#{webservice.name}\")" ) %>
           <% end %>         
           <strong><%= link_to( webservice.name, "#" , :onclick => "showLoginDialog(\"#{webservice.name}\");" ) %></strong>
           <%=h webservice.desc %>
        </td>
        <% if counter == 2 %>
           </tr>
           <% counter = 1 %>         
        <% else %>                 
           <% counter += 1 %>         
        <% end %>         
      <% end %>
      <% if counter == 2 &&  @webservices.size > 0 %>
           <td> </td>
           </tr>
      <% end %>         
   </table>
   <div class="select">
       <%= link_to "<strong>[Configure]</strong>", :controller => 'webservices' -%><p/>
    </div>
</div>
<% end -%>
</html>